

  <%= content_for(:head)  do %>
      <%= stylesheet_link_tag "shophome/ashop/content/menu", :media => "all" %>
      <%= javascript_include_tag "city" %>

      <title><%= page_title %></title>
  <% end %>


  <% @page_title = $csmenuc.name  %> 
  <% @title1 = $cshop.shopname %> 
  <% @title2 = @page_title %> 

  <%= content_for(:main)  do %>
        <div id="edit2">
            <%= link_to '✐編集', subedit_mycshop_mycshop_mycsmenuc_path(mycshop_id:$cshop, id:$csmenuc), target:"_blank" %>
        </div>    

        <% $csmenucs.each do |csmenuc| %>

                <div id="menuline">税込：<%= csmenuc.price %>円</div>

                <% if $csmenuc.detail1.present? %>
                    <div id="content1">♦<%= csmenuc.detail1 %></div>
                <% else %>
                    <div id="content0">♦</div>
                <% end %>

                <% if $csmenuc.detail2.present? %>
                    <div id="content1">♦<%= csmenuc.detail2 %></div>
                <% else %>
                    <div id="content0">♦</div>
                <% end %>

                <% if $csmenuc.detail3.present? %>
                    <div id="content1">♦<%= csmenuc.detail3 %></div>
                <% else %>
                    <div id="content0">♦</div>
                <% end %>

                <% if $csmenuc.detail4.present? %>
                    <div id="content1">♦<%= csmenuc.detail4 %></div>
                <% else %>
                    <div id="content0">♦</div>
                <% end %>

                <% if $csmenuc.detail5.present? %>
                    <div id="content1">♦<%= csmenuc.detail5 %></div>
                <% else %>
                    <div id="content0">♦</div>
                <% end %>

                <% if $csmenuc.detail6.present? %>
                    <div id="content1">♦<%= csmenuc.detail6 %></div>
                <% else %>
                    <div id="content0">♦</div>
                <% end %>

                <% if $csmenuc.detail7.present? %>
                    <div id="content1">♦<%= csmenuc.detail7 %></div>
                <% else %>
                    <div id="content0">♦</div>
                <% end %>

                <% if $csmenuc.detail8.present? %>
                    <div id="content1">♦<%= csmenuc.detail8 %></div>
                <% else %>
                    <div id="content0">♦</div>
                <% end %>

                <% if $csmenuc.detail10.present? %>
                    <div id="content1">♦<%= csmenuc.detail10 %></div>
                <% else %>
                    <div id="content0">♦</div>
                <% end %>
                
        <% end %>

  <% end %>
