
<div id="shop_adfeature">

        <div id="shop_adfeature_secton">
                <%= link_to @shop_adfeature_ref1 do %>
                    <li id="shop_adfeature_ad><%= @shop_adfeature_img1 %></li>
                <% end %>
                <%= link_to @shop_adfeature_ref2 do %>
                    <li id="shop_adfeature_ad><%= @shop_adfeature_img2 %></li>
                <% end %>
        </div>

        <div id="shop_adfeature_secton">
                <%= link_to @shop_adfeature_ref3 do %>
                    <li id="shop_adfeature_ad><%= @shop_adfeature_img3 %></li>
                <% end %>
                <%= link_to @shop_adfeature_ref4 do %>
                    <li id="shop_adfeature_ad><%= @shop_adfeature_img4 %></li>
                <% end %>
        </div>

        <div id="shop_adfeature_secton">
                <%= link_to @shop_adfeature_ref5 do %>
                    <li id="shop_adfeature_ad><%= @shop_adfeature_img5 %></li>
                <% end %>
                <%= link_to @shop_adfeature_ref6 do %>
                    <li id="shop_adfeature_ad><%= @shop_adfeature_img6 %></li>
                <% end %>
        </div>

</div>