
<%= stylesheet_link_tag "selecter", :media => "all" %>

  <p id="notice"><%= notice %></p>

<div id="main-feature">

  <h1>メニューカテゴリー追加</h1>

  <table>
    <thead>
      <tr>
        <th><p id="t1">店名</p></th>
        <th><p id="t1">メニューカテゴリー</p></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% $asmenucs.each do |asmenuc| %>
        <tr>
          <td><div id="st1"><%= $ashop.shopname %></div></td>
          <td><div id="st1"><%= mcategory.name %></div></td>
          <td><div id="st2"><%= link_to 'Show', myashop_myashop_myasmenuc_path(id:myasmenuc) %></div></td>
          <td><div id="st2"><%= link_to 'Edit', edit_myashop_myashop_myasmenuc_path(id:myasmenuc) %></div></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <div id="new"><%= link_to '新しいメニューカテゴリー', new_myashop_myashop_myasmenuc_path, target:"_blank" %><br />
  <%= link_to '戻る', myashop_myashop_path(id:$myashop) %></div>

</div>