

  <%= content_for(:head)  do %>
      <%= stylesheet_link_tag "shophome/ashop/content/menu", :media => "all" %>
      <%= javascript_include_tag "city" %>

      <title><%= page_title %></title>
  <% end %>


  <% @page_title = $gmenuc.name  %> 
  <% @title1 = $gshop.shopname %> 
  <% @title2 = @page_title %> 

  <%= content_for(:edit) do %>
      <div id="edit2">
          <%= link_to '✐編集', subedit_mygshop_mygshop_mygmenuc_path(mygshop_id:$gshop, id:$gmenuc) %>
      </div>    
  <% end %>


  <%= content_for(:main)  do %>

        <% $gmenucs.each do |gmenuc| %>

                <% if $gmenuc.content.present? %>
                    <div id="content1"><%= simple_format(gmenuc.content) %></div>
                <% else %>
                    <div id="content0">記載がありません</div>
                <% end %>
                
        <% end %>

  <% end %>
