

  <%= content_for(:head)  do %>
      <%= stylesheet_link_tag "shophome/ashop/content/menu", :media => "all" %>
      <%= javascript_include_tag "city" %>

      <title><%= page_title %></title>
  <% end %>


  <% @page_title = $hmenuc.name %> 
  <% @title1 = $hshop.shopname %> 
  <% @title2 = @page_title %> 

  <%= content_for(:main)  do %>

        <div id="feature-wrapper">

              <% $hmenus.each do |hmenu| %>
                  <%= link_to hsearch_hsmenuc_hsmenu_path(hsmenuc_id:$hmenuc, id:hmenu) do %>
                   　<div id="box"><li id="list"><%= hmenu.name %></li></div>
                  <% end %>
              <% end %>

        </div>
    <% end %>


