
<% @page_title = $estaff.name %> 
<% @title2 = $estaff.name %> 

<%= content_for(:main) do %>

	<% $estaffs.each do |estaff| %>

		<% if $estaff.staff_img.present? %>
			<div class="mainImage"><%= image_tag $estaff.staff_img_url %></div>
		<% else %>
			<div class="mainImage"><%= image_tag "template/logo3" %></div>
		<% end %>

	<% end %>
<% end %>

<%= content_for(:second_feature) do %>

			<% if $estaff.explain.present? %>
					<p><%= $estaff.explain %></p>
			<% else %>
					<p>未入力</p>
			<% end %>

<% end %>