
<%= stylesheet_link_tag "selecter", :media => "all" %>

  <p id="notice"><%= notice %></p>

<%= content_for(:main)  do %>

<div id="main-feature">
  <%= stylesheet_link_tag "selecter", :media => "all" %>

  <h1>グルメカテゴリ―</h1>

  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% $fcategories.each do |fcategory| %>
        <tr>
          <td><div id="st1"><%= fcategory.name %></div></td>
          <td><div id="st2"><%= link_to 'Show', fcategory_path(id:fcategory) %></div></td>
          <td><div id="st2"><%= link_to '編集', edit_fcategory_path(id:fcategory) %></div></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <div id="new"><%= link_to '新しいサブカテゴリ―', new_fcategory_path %></div>

</div>

<% end %>