

	<p id="notice"><%= notice %></p>

	<%= content_for(:head)  do %>
	    <meta name="f9-shop.jp" content="FIND　F9　f9 f9-shop.jp">
	    <title><%= page_title %></title>
	<% end %>

	<%= content_for(:main)  do %>
		<div id="main-feature">
			  <%= javascript_include_tag "shop" %>
			  <%= javascript_include_tag "slick.min" %>
  
					<div id="feature-wrapper">
						  <%= stylesheet_link_tag "slick/slick.css", :media => "screen" %>
						  <%= stylesheet_link_tag "slick/slick-theme.css", :media => "screen" %>

						  <ul class="slider">
								<% if $gshop.shopimage1.present? %>
									  <li><%= image_tag $gshop.shopimage1_url %><p><%= $gshop.shopname %></p></li>
								<% else %>
									  <li><%= image_tag "template/homepics" %><p><%= $gshop.shopname %></p></li>
								<% end %>
								<% if $gshop.shopimage2.present? %>
									  <li><%= image_tag $gshop.shopimage2_url %><p>image2</p></li>
								<% else %>
									  <li><%= image_tag "template/homepics" %><p>image2</p></li>
								<% end %>
								<% if $gshop.shopimage3.present? %>
									  <li><%= image_tag $gshop.shopimage3_url %><p>image3</p></li>
								<% else %>
									  <li><%= image_tag "template/homepics" %><p>image3</p></li>
								<% end %>
						  </ul>
					</div>
		</div>
<% end %>

	<%= content_for(:idc1)  do %>
	<% end %>

	<%= content_for(:idc2)  do %>
	<% end %>

	<%= content_for(:idc3)  do %>
	<% end %>

	<%= content_for(:idc4)  do %>
	<% end %>

	<% @page_title = $gshop.shopname %> 
	<% @title = @page_title %>

	<% @navi4 = contact_gsearch_gsshop_path %>
	<% @navi5 = access_gsearch_gsshop_path %>
	<% @navi6 = info_gsearch_gsshop_path %>
	<% @navi7 =  contact_gsearch_gsshop_path %>
	<% @navi8 =  time_gsearch_gsshop_path %>

	<% @subnavi1 =  %>
	<% @subnavi2 =  %>

