
<%= content_for(:head)  do %>
    <%= stylesheet_link_tag "shophome/bshop/each_equip", :media => "all" %>
    <%= javascript_include_tag "city" %>
    <title><%= page_title %></title>

<% end %>

<%= content_for(:main)  do %>

  <% $hequips.each do |hequip| %>

    <div id="each_equip">

        <div id="equip">
          
                <div id="top_pic"> 

                    <% if hequip.equip_img.present? %>
                      <%= link_to image_tag(hequip.equip_img_url), hsearch_hsequipc_hsequip_path(id:hequip) %> 
                    <% else %>
                      <%= link_to image_tag("template/logo3"), hsearch_hsequipc_hsequip_path(id:hequip) %> 
                    <% end %>
    
                </div>

                <P id="equip_name">
                    <% if hequip.name.present? %>
                        <%= hequip.name %>
                    <% else %>
                        （未入力）
                    <% end %>
                </P>

         </div>
    </div>


  <% end %>


<% end %>

