
<% @page_title = $hequip.name %> 
<% @title2 = $hequip.name %> 

<%= content_for(:edit) do %>

<% end %>


<%= content_for(:main) do %>
	<div id="edit">
    	<%= link_to '✐編集', equip_img_myhshop_myhequipc_myhequip_path(id:$hequip) %>
    </div>    

	<% $hequips.each do |hequip| %>

		<% if $hequip.equip_img.present? %>
			<div class="mainImage"><%= image_tag $hequip.equip_img_url %></div>
		<% else %>
			<div class="mainImage"><%= image_tag "template/logo3" %></div>
		<% end %>

	<% end %>
<% end %>

<%= content_for(:second_feature) do %>

			<% if $hequip.explain.present? %>
					<p><%= $hshop.explain %></p>
			<% else %>
					<p>未入力</p>
			<% end %>

<% end %>