
<%= content_for(:head)  do %>
    <%= stylesheet_link_tag "shophome/bshop/each_staff", :media => "all" %>
    <%= javascript_include_tag "city" %>
    <title><%= page_title %></title>

<% end %>

<%= content_for(:main)  do %>

  <% $fstaffs.each do |fstaff| %>

    <div id="each_staff">

        <div id="staff">
          
                <div id="top_pic"> 

                    <% if fstaff.staff_img.present? %>
                      <%= link_to image_tag(fstaff.staff_img_url), fsearch_fsstaffc_fsstaff_path(id:fstaff) %> 
                    <% else %>
                      <%= link_to image_tag("template/logo3"), fsearch_fsstaffc_fsstaff_path(id:fstaff) %> 
                    <% end %>
    
                </div>

                <P id="staff_name">
                    <% if fstaff.name.present? %>
                        <%= fstaff.name %>
                    <% else %>
                        （未入力）
                    <% end %>
                </P>

         </div>
    </div>


  <% end %>


<% end %>

