
<% @page_title = $fstaff.name %> 
<% @title2 = $fstaff.name %> 

<%= content_for(:main) do %>

	<% $fstaffs.each do |fstaff| %>

		<% if $fstaff.staff_img.present? %>
			<div class="mainImage"><%= image_tag $fstaff.staff_img_url %></div>
		<% else %>
			<div class="mainImage"><%= image_tag "template/logo3" %></div>
		<% end %>

	<% end %>
<% end %>

<%= content_for(:second_feature) do %>

			<% if $fstaff.explain.present? %>
					<p><%= $fstaff.explain %></p>
			<% else %>
					<p>未入力</p>
			<% end %>

<% end %>