

  <%= content_for(:head)  do %>
      <%= stylesheet_link_tag "shophome/ashop/content/menu", :media => "all" %>
      <%= javascript_include_tag "city" %>

      <title><%= page_title %></title>
  <% end %>


  <% @page_title = $dmenuc.name %> 
  <% @title1 = $dshop.shopname %> 
  <% @title2 = @page_title %> 
  

  <%= content_for(:main)  do %>

    <div id="new"><%= link_to '＋メニューを追加する', new_mydshop_mydmenuc_mydmenu_path %></div>
        <div id="feature-wrapper">

              <% $dmenus.each do |dmenu| %>
                  <%= link_to mydshop_mydmenuc_mydmenu_path(mydmenuc_id:$dmenuc, id:dmenu) do %>
                   　<div id="box"><li id="list"><%= dmenu.name %></li></div>
                  <% end %>

                  <div id="edit">
                    <%= link_to '✐編集する', edit_mydshop_mydmenuc_mydmenu_path(mydmenuc_id:$dmenuc, id:dmenu) %>
                  </div>
              <% end %>

        </div>
    <% end %>


