
<%= form_for($dstaffc, :url => {:action => "create"}, :html => {:multipart => true}) do |form| %>

  <% if dstaffc.errors.any? %>
      <div id="error_explanation">
          <h2><%= pluralize(dstaffc.errors.count, "error") %> prohibited this dstaffc from being saved:</h2>

          <ul>
              <% dstaffc.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
          </ul>
      </div>
  <% end %>

  <div class="section" id="page">

    <h1>メニュー項目を編集する</h1>

      <%= form.hidden_field :dshop_id %>

      <div id="field">
          <%= form.label :name do %><label for="labelx">:メニューカテゴリー名</label><% end %><br>
          <%= form.text_field :name, placeholder: '例）従業員' %>
      </div>

      <div id="actions">
          <li><%= form.submit(:決定) %></li>
      </div>

      <%= link_to mydshop_mydshop_path(id:$dshop) do %>
          <div id="eback">編集を中止する</div>
      <% end %>

  </div>

<% end %>
