

	<p id="notice"><%= notice %></p>

	<%= content_for(:head)  do %>
	    <title><%= page_title %></title>
	<% end %>

	<%= content_for(:uheader2)  do %>
	    <%if user_signed_in? && $cshop.user_id == current_user.id %>
           <%= link_to @edit, target:"_blank" do%><div id="edit">✐編集する</div><% end %>
        <% end %>
	<% end %>

	<%= content_for(:main)  do %>
		<div id="main-feature">
			  <%= javascript_include_tag "shop" %>
			  <%= javascript_include_tag "slick.min" %>
  
					<div id="feature-wrapper">
						  <%= stylesheet_link_tag "slick/slick.css", :media => "screen" %>
						  <%= stylesheet_link_tag "slick/slick-theme.css", :media => "screen" %>

						  <ul class="slider">
								<% if $cshop.shopimage1.present? %>
									  <li><%= image_tag $cshop.shopimage1_url %><p><%= $cshop.shopname %></p></li>
								<% else %>
									  <li><%= image_tag "template/homepics" %><p><%= $cshop.shopname %></p></li>
								<% end %>
								<% if $cshop.shopimage2.present? %>
									  <li><%= image_tag $cshop.shopimage2_url %><p>image2</p></li>
								<% else %>
									  <li><%= image_tag "template/homepics" %><p>image2</p></li>
								<% end %>
								<% if $cshop.shopimage3.present? %>
									  <li><%= image_tag $cshop.shopimage3_url %><p>image3</p></li>
								<% else %>
									  <li><%= image_tag "template/homepics" %><p>image3</p></li>
								<% end %>
						  </ul>
					</div>

					<div id="top_af1">
                      <a href="https://px.a8.net/svt/ejp?a8mat=3B7GQK+94NAPE+50+2HN8K1" rel="nofollow">
                      <img border="0" width="728" height="90" alt="" src="https://www23.a8.net/svt/bgt?aid=200222588552&wid=001&eno=01&mid=s00000000018015057000&mc=1"></a>
                      <img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3B7GQK+94NAPE+50+2HN8K1" alt="">
                	</div>
		</div>
	<% end %>

	<%= content_for(:idc1)  do %>
		<%if user_signed_in? && $cshop.user_id == current_user.id %>
			  <div id="ltop">
				  <%= link_to new_mycshop_mycshop_mycmenuc_path(mycshop_id:$cshop) do%>
					  <p>⊕カテゴリーを追加する</p>
				  <% end %>
			  </div>
		 <%end%>

		 <% $cmenucs.each do |cmenuc| %>
				<div class="line">
					  <%= link_to mycshop_mycshop_mycmenuc_path(mycshop_id:$cshop, id:cmenuc) do %>
						  <li id="mc"><%= cmenuc.name %></li><br>
					  <%end%>
					  <%= link_to edit_mycshop_mycshop_mycmenuc_path(mycshop_id:$cshop, id:cmenuc) do %>
						   <p id="mcedit">✐編集する</p>
					  <% end %>
				</div>
		<% end %>
	<% end %>

	<%= content_for(:idc2)  do %>
		<%if user_signed_in? && $cshop.user_id == current_user.id %>
			  <div id="ltop">
				  <%= link_to new_mycshop_mycshop_mycsmenuc_path(mycshop_id:$cshop) do%>
					  <p>⊕カテゴリーを追加する</p>
				  <% end %>
			  </div>
		 <%end%>

		 <% $csmenucs.each do |csmenuc| %>
				<div class="line">
					  <%= link_to mycshop_mycshop_mycsmenuc_path(mycshop_id:$cshop, id:csmenuc) do %>
						  <li id="mc"><%= csmenuc.name %></li><br>
					  <%end%>
					  <%= link_to edit_mycshop_mycshop_mycsmenuc_path(mycshop_id:$cshop, id:csmenuc) do %>
						   <p id="mcedit">✐編集する</p>
						<% end %>
				</div>
		<% end %>
	<% end %>

	<%= content_for(:idc3)  do %>
			<%if user_signed_in? && $cshop.user_id == current_user.id %>
					<div id="ltop">
						<%= link_to new_mycshop_mycshop_mycequipc_path(mycshop_id:$cshop) do%>
							<p>⊕カテゴリーを追加する</p>
						<% end %>
					</div>
			<%end%>

			<% $cequipcs.each do |cequipc| %>
					<div class="line">
							<%= link_to mycshop_mycshop_mycequipc_path(mycshop_id:$cshop, id:cequipc) do %>
								<li id="mc"><%= cequipc.name %></li><br>
							<%end%>
							<%= link_to edit_mycshop_mycshop_mycequipc_path(mycshop_id:$cshop, id:cequipc) do %>
								<p id="mcedit">✐編集する</p>
							<% end %>
					</div>
			<% end %>
	<% end %>

	<%= content_for(:idc4)  do %>
					<%if user_signed_in? && $cshop.user_id == current_user.id %>
							<div id="ltop">
								<%= link_to new_mycshop_mycshop_mycstaffc_path(mycshop_id:$cshop) do%>
									<p>⊕カテゴリーを追加する</p>
								<% end %>
							</div>
					<%end%>

					<% $cstaffcs.each do |cstaffc| %>
							<div class="line">
									<%= link_to mycshop_mycshop_mycstaffc_path(mycshop_id:$cshop, id:cstaffc) do %>
										<li id="mc"><%= cstaffc.name %></li><br>
									<%end%>
									<%= link_to edit_mycshop_mycshop_mycstaffc_path(mycshop_id:$cshop, id:cstaffc) do %>
										<p id="mcedit">✐編集する</p>
									<% end %>
							</div>
					<% end %>
	<% end %>


	<% @page_title = $cshop.shopname %> 
	<% @title = @page_title %>
	<% @edit = img_edit_mycshop_mycshop_path  %>  

	<% @main_navi_img1 =  image_tag("shopnavi/fee") %>
	<% @main_navi_img2 =  image_tag("shopnavi/fee") %>
	<% @main_navi_img3 =  image_tag("shopnavi/equip") %>
	<% @main_navi_img4 =  image_tag("shopnavi/staff") %>

	<% @main_navi_title1 =  "メインメニュー" %>
	<% @main_navi_title2 =  "サブメニュー" %>
	<% @main_navi_title3 =  "設備紹介" %>
	<% @main_navi_title4 =  "従業員・スタッフ" %>

    <% @navi4 = contact_mycshop_mycshop_path %>
	<% @navi5 = access_mycshop_mycshop_path %>
	<% @navi6 = info_mycshop_mycshop_path %>
	<% @navi7 = contact_mycshop_mycshop_path %>
	<% @navi8 = time_mycshop_mycshop_path %>
    
	<% @subnavi1 =  %>
	<% @subnavi2 =  %>

