
<%= content_for(:head)  do %>
    <%= stylesheet_link_tag "shophome/ashop/each", :media => "all" %>
    <%= javascript_include_tag "city" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <title><%= page_title %></title>

<% end %>

<% @page_title = $ashop.shopname %> 
<% @title1 = $ashop.shopname %> 
<% @title2 = "投稿フォーラム" %>

<% @back1  = asearch_asshop_path(id:$ashop) %>
<% @city  = asearch_asshops_path %>
<% @back2 = pub_asearch_asshop_path(id:$ashop) %>



<%= content_for(:main)  do %>
    
  <% if user_signed_in? %>
    <%= link_to new_asearch_asshop_pubimg_path do%><div id="new">＋料理を追加する</div><% end %>
  <% else %>
    <div id="ex1" class="modal">
      <p>ログインして下さい。</p>
      <a href="#" rel="modal:close">閉じる</a>
    </div>
    <div id="new"><a href="#ex1" rel="modal:open">＋写真を追加する</a></div>
  <% end %>

  <% $pubimgs.each do |pubimg| %>

        <div id="food">
          
                <div id="top_pic">

                    <% if pubimg.foodimg1.present? %>
                      <%= link_to image_tag(pubimg.foodimg1_url, {:size =>'300x300'}), asearch_asshop_pubimg_path(asshop_id:$ashop, id:pubimg) %> 
                    <% else %>
                      <%= link_to image_tag("template/logo3", {:size =>'300x300'}), asearch_asshop_pubimg_path(asshop_id:$ashop, id:pubimg) %> 
                    <% end %>
    
                </div>

                <P id="food_name1">
                    <% if pubimg.foodname1.present? %>
                        <%= pubimg.foodname1 %>
                    <% else %>
                        未入力（料理名１）
                    <% end %>
                </P>

                <P id="food_name2">
                    <% if pubimg.foodname2.present? %>
                        <%= pubimg.foodname2 %>
                    <% else %>
                        未入力（料理名２）
                    <% end %>
                </P>

                <P id="price">
                    <% if pubimg.price.present? %>
                        <%= pubimg.price %>
                    <% else %>
                        未入力（値段）
                    <% end %>
                </P>

                <P id="price"><%= pubimg.user.username %>さんの投稿</p>

　　　　　　　　　　　　　<% if user_signed_in? && pubimg.user_id == current_user.id %>
                    <p id="edit">
                         <%= link_to '✐編集', edit_asearch_asshop_pubimg_path(id:pubimg) %> /
                         <%#= link_to '🚮削除', pubimg, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </p> 
                <% end %>   

          </div>


  <% end %>


<% end %>

