
<% @page_title = $gequip.name %> 
<% @title2 = $gequip.name %> 

<%= content_for(:main) do %>
	<% $gequips.each do |gequip| %>

		<% if $gequip.equip_img.present? %>
			<div class="mainImage"><%= image_tag $gequip.equip_img_url %></div>
		<% else %>
			<div class="mainImage"><%= image_tag "template/logo3" %></div>
		<% end %>

	<% end %>
<% end %>

<%= content_for(:second_feature) do %>

			<% if $gequip.explain.present? %>
					<p><%= $gequip.explain %></p>
			<% else %>
					<p>未入力</p>
			<% end %>

<% end %>