
<%= form_for($eequipc, :url => {:action => "create"}, :html => {:multipart => true}) do |form| %>

  <% if eequipc.errors.any? %>
      <div id="error_explanation">
          <h2><%= pluralize(eequipc.errors.count, "error") %> prohibited this eequipc from being saved:</h2>

          <ul>
              <% eequipc.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
          </ul>
      </div>
  <% end %>

  <div class="section" id="page">

    <h1>メニュー項目を編集する</h1>

      <%= form.hidden_field :eshop_id %>

      <div id="field">
          <%= form.label :name do %><label for="labelx">:メニューカテゴリー名</label><% end %><br>
          <%= form.text_field :name, placeholder: '例）店舗外設備' %>
      </div>

      <div id="actions">
          <li><%= form.submit(:決定) %></li>
      </div>

      <%= link_to myeshop_myeshop_path(id:$eshop) do %>
          <div id="eback">編集を中止する</div>ß
      <% end %>

  </div>

<% end %>
