

<div id="second-feature"> 

        <div id="mainBox">

                    <div class="child">
                        <div class="img"><%= @image1 %></div>
                        <h2 class="title"><%= @name1 %></h2>
                    </div>

                    <div class="child">
                        <div class="img"><%= @image2 %></div>
                        <h2 class="title"><%= @name2 %></h2>              
                    </div>

                    <div class="child">
                        <div class="img"><%= @image3 %></div>
                        <h2 class="title"><%= @name3 %></h2>
                    </div>

                    <div class="child">
                        <div class="img"><%= @image4 %></div>
                        <h2 class="title"><%= @name4 %></h2>
                    </div>

                    <div class="child">
                        <div class="img"><%= @image5 %></div>
                        <h2 class="title"><%= @name5 %></h2>
                    </div>

                    <div class="child">
                        <div class="img"><%= @image6 %></div>
                        <h2 class="title"><%= @name6 %></h2>
                    </div>

        </div>

</div>