

	<%= content_for(:head)  do %>
	    <%= stylesheet_link_tag "shophome/ashop/content/access", :media => "all" %>
	    <%= javascript_include_tag "city" %>

	    <title><%= page_title %></title>
	<% end %>

    
	<% @page_title = "店舗情報" %>

	<%= render 'form', cshop: $cshop %>


<%= content_for(:main)  do %>
      
    <div id="feature-wrapper">
	      <div id="box1">	
		    　 <li id="a1">創業</li><br>
		      <li id="b1"><%= $cshop.history %>年</li><br>
	      </div>

	      <div id="box2">	
		    　 <li id="a1">店長経歴</li><br>
		      <li id="b2">・<%= $cshop.career1 %></li><br>
		      <li id="b2">・<%= $cshop.career2 %></li><br>
		      <li id="b2">・<%= $cshop.career3 %></li><br>
		      <li id="b2">・<%= $cshop.career4 %></li><br>
		      <li id="b2">・<%= $cshop.career5 %></li><br>
	      </div>

	      <div id="box2">	
		    　 <li id="a1">おすすめ料理ランキング</li><br>
		      <li id="b2">①<%= $cshop.recom1 %></li><br>
		      <li id="b2">②<%= $cshop.recom2 %></li><br>
		      <li id="b2">③<%= $cshop.recom3 %></li><br>
		      <li id="b2">④<%= $cshop.recom4 %></li><br>
		      <li id="b2">⑤<%= $cshop.recom5 %></li><br>
	      </div>

	      <div id="box3">	
		    　 <li id="a1">紹介文1：<%= $cshop.iititle1 %></li><br>
		      <li id="b3"><p><%= $cshop.info1 %></p></li>
	      </div>

	      <div id="box3">	
		    　 <li id="a1">紹介文2：<%= $cshop.iititle2 %></li><br>
		      <li id="b3"><p><%= $cshop.info2 %></p></li><br>
	      </div>

	      <div id="box3">	
		    　 <li id="a1">紹介文3：<%= $cshop.iititle3 %></li><br>
		      <li id="b3"><p><%= $cshop.info3 %></p></li><br>
	      </div>

    </div>

<% end %>