<%= form_for($food, :url => {:action => "create"}, :html => {:multipart => true}) do |form| %>

  <% if food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="section" id="page">

    <h1>料理を編集する</h1>

              <%= form.hidden_field :amenu_id %>

                  <div id="field-pic">
                      <%= form.label :foodimg1 do %><label for="labelx">写真1</label><% end %><br>

                      <label for="labely"><%= form.file_field :foodimg1, id: :food_foodimg1 , id: "file1" %></label>
                      
                      <p><%= form.check_box :remove_foodimg1, seize: 30 %>画像を削除する</p>
                      <%= form.hidden_field :foodimg1_cache %>
                      
                      <div id="thumb1" onClick="$('#file1').click()">
                            <% if food.foodimg1.present? %>
                              <div id="updimg"><%= image_tag food.foodimg1.thumb.url if $food.foodimg1? %></div> 
                            <% else %>
                              <div id="upimg"><%= image_tag("template/img") %></div>
                            <% end %>
                      </div>
                  </div>

                  <div id="field-pic">
                      <%= form.label :foodimg2 do %><label for="labelx">写真2</label><% end %><br>

                      <label for="labely"><%= form.file_field :foodimg2, id: :food_foodimg2 , id: "file2" %></label>

                      <p><%= form.check_box :remove_foodimg2, seize: 30 %>画像を削除する</p>
                      <%= form.hidden_field :foodimg2_cache %>

                      <div id="thumb2" onClick="$('#file2').click()">
                            <% if food.foodimg2.present? %>
                              <div id="updimg"><%= image_tag food.foodimg2.thumb.url if $food.foodimg2? %></div> 
                            <% else %>
                              <div id="upimg"><%= image_tag("template/img") %></div>
                            <% end %>
                      </div>
                  </div>

                  <div id="field-pic">
                      <%= form.label :foodimg3 do %><label for="labelx">写真3</label><% end %><br>

                      <label for="labely"><%= form.file_field :foodimg3, id: :food_foodimg3 , id: "file3" %></label>

                      <p><%= form.check_box :remove_foodimg3, seize: 30 %>画像を削除する</p>
                      <%= form.hidden_field :foodimg3_cache %>

                      <div id="thumb3" onClick="$('#file3').click()">
                            <% if food.foodimg3.present? %>
                              <div id="updimg"><%= image_tag food.foodimg3.thumb.url if $food.foodimg3? %></div> 
                            <% else %>
                              <div id="upimg"><%= image_tag("template/img") %></div>
                            <% end %>
                      </div>
                  </div>


              <%= form.hidden_field :topimg_cache %>

              <div id="actions"><li><%= form.submit(:決定) %></li></div>

              <%= link_to myashop_myamenu_myfoods_path do %><div id="eback">編集を中止する</div><% end %>

</div>

<% end %>

<script>

$(function(){
  $fileField = $('#file1')
 
  // 選択された画像を取得し表示
  $($fileField).on('change', $fileField, function(e) {
    file = e.target.files[0]
    reader = new FileReader(),
    $preview = $("#thumb1");
 
    reader.onload = (function(file) {
      return function(e) {
        $preview.empty();
        $preview.append($('<img>').attr({
          src: e.target.result,
          width: "100%",
          class: "preview",
          title: file.name
        }));
      };
    })(file);
    reader.readAsDataURL(file);
  });
});

$(function(){
  $fileField = $('#file2')
 
  // 選択された画像を取得し表示
  $($fileField).on('change', $fileField, function(e) {
    file = e.target.files[0]
    reader = new FileReader(),
    $preview = $("#thumb2");
 
    reader.onload = (function(file) {
      return function(e) {
        $preview.empty();
        $preview.append($('<img>').attr({
          src: e.target.result,
          width: "100%",
          class: "preview",
          title: file.name
        }));
      };
    })(file);
    reader.readAsDataURL(file);
  });
});

$(function(){
  $fileField = $('#file3')
 
  // 選択された画像を取得し表示
  $($fileField).on('change', $fileField, function(e) {
    file = e.target.files[0]
    reader = new FileReader(),
    $preview = $("#thumb3");
 
    reader.onload = (function(file) {
      return function(e) {
        $preview.empty();
        $preview.append($('<img>').attr({
          src: e.target.result,
          width: "100%",
          class: "preview",
          title: file.name
        }));
      };
    })(file);
    reader.readAsDataURL(file);
  });
});

$(function() {
    // jQuery Upload Thumbs 
    $('form input:file').uploadThumbs();
});

</script>

