
<% @page_title = $eequip.name %> 
<% @title2 = $eequip.name %> 

<%= content_for(:edit) do %>

<% end %>


<%= content_for(:main) do %>
	<div id="edit">
    	<%= link_to '✐編集', equip_img_myeshop_myeequipc_myeequip_path(id:$eequip) %>
    </div>    

	<% $eequips.each do |eequip| %>

		<% if $eequip.equip_img.present? %>
			<div class="mainImage"><%= image_tag $eequip.equip_img_url %></div>
		<% else %>
			<div class="mainImage"><%= image_tag "template/logo3" %></div>
		<% end %>

	<% end %>
<% end %>

<%= content_for(:second_feature) do %>

			<% if $eequip.explain.present? %>
					<p><%= $eshop.explain %></p>
			<% else %>
					<p>未入力</p>
			<% end %>

<% end %>