
<%= content_for(:head)  do %>
    <%= stylesheet_link_tag "shophome/bshop/each_staff", :media => "all" %>
    <%= javascript_include_tag "city" %>
    <title><%= page_title %></title>

<% end %>

<%= content_for(:main)  do %>

  <%= link_to new_mybshop_mybstaffc_mybstaff_path do%><div id="new">＋設備を追加する</div><% end %>

  <% $bstaffs.each do |bstaff| %>

    <div id="each_equip">

        <div id="equip">
          
                <div id="top_pic"> 

                    <% if bstaff.staff_img.present? %>
                      <%= link_to image_tag(bstaff.staff_img_url), mybshop_mybstaffc_mybstaff_path(id:bstaff) %> 
                    <% else %>
                      <%= link_to image_tag("template/logo3"), mybshop_mybstaffc_mybstaff_path(id:bstaff) %> 
                    <% end %>
    
                </div>

                <P id="staff_name">
                    <% if bstaff.name.present? %>
                        <%= bstaff.name %>
                    <% else %>
                        （未入力）
                    <% end %>
                </P>

                <p id="edit">
                    <%= link_to '✐編集', edit_mybshop_mybstaffc_mybstaff_path(id:bstaff) %>
                </p>    

         </div>
    </div>


  <% end %>


<% end %>

