
<%= content_for(:head)  do %>
  <%= stylesheet_link_tag "shophome/bshop/each_equip", :media => "all" %>
  <%= javascript_include_tag "city" %>
  <title><%= page_title %></title>

<% end %>

<%= content_for(:main)  do %>

<% $dstaffs.each do |dstaff| %>

  <div id="each_equip">

      <div id="equip">
        
              <div id="top_pic"> 

                  <% if dstaff.staff_img.present? %>
                    <%= link_to image_tag(dstaff.staff_img_url), dsearch_dsstaffc_dsstaff_path(id:dstaff) %> 
                  <% else %>
                    <%= link_to image_tag("template/logo3"), dsearch_dsstaffc_dsstaff_path(id:dstaff) %> 
                  <% end %>
  
              </div>

              <p id="equip_name">
                  <% if dstaff.name.present? %>
                      <%= dstaff.name %>
                  <% else %>
                      （未入力）
                  <% end %>
              </p>

       </div>
  </div>


<% end %>


<% end %>