
<% @page_title = $dstaff.name %> 
<% @title2 = $dstaff.name %> 

<%= content_for(:main) do %>

	<% $dstaffs.each do |dstaff| %>

		<% if $dstaff.staff_img.present? %>
			<div class="mainImage"><%= image_tag $dstaff.staff_img_url %></div>
		<% else %>
			<div class="mainImage"><%= image_tag "template/logo3" %></div>
		<% end %>

	<% end %>
<% end %>

<%= content_for(:second_feature) do %>

			<% if $dstaff.explain.present? %>
					<p><%= $dstaff.explain %></p>
			<% else %>
					<p>未入力</p>
			<% end %>

<% end %>