
<%= form_for($fstaffc, :url => {:action => "create"}, :html => {:multipart => true}) do |form| %>

  <% if fstaffc.errors.any? %>
      <div id="error_explanation">
          <h2><%= pluralize(fstaffc.errors.count, "error") %> prohibited this fstaffc from being saved:</h2>

          <ul>
              <% fsstaffc.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
          </ul>
      </div>
  <% end %>

  <div class="section" id="page">

    <h1>診察内容を編集する</h1>
      
      <%= form.hidden_field :fshop_id %>

      <div id="field"><%= form.text_area :content, placeholder: '診察内容を記載してください。' %></div>

      <div id="actions"><li><%= form.submit(:決定) %></li></div>

      <%= link_to myfshop_myfshop_path(id:$fshop) do %>
            <div id="eback">編集を中止する</div>
      <% end %>

  </div>

<% end %>
