
<%= content_for(:head)  do %>
    <%= stylesheet_link_tag "shophome/ashop/each", :media => "all" %>
    <%= javascript_include_tag "city" %>
    <title><%= page_title %></title>

<% end %>

<% @page_title = $atmenu.name %> 
<% @title1 = $ashop.shopname %> 
<% @title2 = $atmenu.name %>

<% @back1  = myashop_myashop_path(id:$ashop) %>
<% @city  = myashop_myashops_path %>
<% @back2 = myashop_myatmenuc_myatmenus_path(myatmenuc_id:$atmenuc) %>



<%= content_for(:main)  do %>

  <%= link_to new_myashop_myatmenu_myatakeout_path do%><div id="new">＋料理を追加する</div><% end %>

  <% $atakeouts.each do |atakeout| %>

        <div id="fooda">
          
                <div id="top_pic"> 

                    <% if atakeout.topimg.present? %>
                      <%= link_to image_tag(atakeout.topimg_url, {:size =>'300x300'}), myashop_myatmenu_myatakeout_path(id:atakeout) %> 
                    <% else %>
                      <%= link_to image_tag("template/logo3", {:size =>'300x300'}), myashop_myatmenu_myatakeout_path(id:atakeout) %> 
                    <% end %>
    
                </div>

                <P id="food_name1">
                    <% if atakeout.foodname1.present? %>
                        <%= atakeout.foodname1 %>
                    <% else %>
                        未入力（料理名１）
                    <% end %>
                </P>

                <P id="food_name2">
                    <% if atakeout.foodname2.present? %>
                        <%= atakeout.foodname2 %>
                    <% else %>
                        未入力（料理名２）
                    <% end %>
                </P>

                <P id="price">税込：<%= atakeout.price %>円</P>

                <p id="edit">
                    <%= link_to '✐編集', edit_myashop_myatmenu_myatakeout_path(id:atakeout) %>
                </p>    

         </div>


  <% end %>


<% end %>

