

	<p id="notice"><%= notice %></p>

	<%= content_for(:head)  do %>
	    <title><%= page_title %></title>
	<% end %>

	<%= content_for(:main)  do %>
		<div id="main-feature">
			  <%= javascript_include_tag "shop" %>
			  <%= javascript_include_tag "slick.min" %>
  
					<div id="feature-wrapper">
						  <%= stylesheet_link_tag "slick/slick.css", :media => "screen" %>
						  <%= stylesheet_link_tag "slick/slick-theme.css", :media => "screen" %>

						  <ul class="slider">
								<% if $hshop.shopimage1.present? %>
									  <li><%= image_tag $hshop.shopimage1_url %><p><%= $hshop.shopname %></p></li>
								<% else %>
									  <li><%= image_tag "template/homepics" %><p><%= $hshop.shopname %></p></li>
								<% end %>
								<% if $hshop.shopimage2.present? %>
									  <li><%= image_tag $hshop.shopimage2_url %><p>image2</p></li>
								<% else %>
									  <li><%= image_tag "template/homepics" %><p>image2</p></li>
								<% end %>
								<% if $hshop.shopimage3.present? %>
									  <li><%= image_tag $hshop.shopimage3_url %><p>image3</p></li>
								<% else %>
									  <li><%= image_tag "template/homepics" %><p>image3</p></li>
								<% end %>
						  </ul>
					</div>
		</div>
<% end %>


	<% @page_title = $hshop.shopname %> 
	<% @title = @page_title %>
   
    <% @navi4 = contact_prefec_hshop_hshop_path %>
	<% @navi5 = access_prefec_hshop_hshop_path %>
	<% @navi6 = info_prefec_hshop_hshop_path %>
	<% @navi7 =  contact_prefec_hshop_hshop_path %>
	<% @navi8 =  time_prefec_hshop_hshop_path %>

	<% @subnavi1 =  %>
	<% @subnavi2 =  %>

