
<%= form_for($drink, :url => {:action => "create"}, :html => {:multipart => true}) do |form| %>

  <% if drink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(drink.errors.count, "error") %> prohibited this drink from being saved:</h2>

      <ul>
      <% drink.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="section" id="page">

    <h1>ドリンクを編集する</h1>

              <%= form.hidden_field :admenu_id %>

              <div id="field">
                  <%= form.label :foodname1 do %><label for="labelx">ドリンク名</label><% end %><br>
                  <%= form.text_field :foodname1, placeholder: 'コーラ' %><br>
              </div>

              <div id="field">
                  <%= form.label :price do %><label for="labelx">値段</label><% end %><br>
                  <%= form.text_field :price, placeholder: '550円' %>
              </div>

              <div id="field-pic">
                  <%= form.label :foodimg1 do %><label for="labelx">トップ画像</label><% end %><br>

                  <label for="labely"><%= form.file_field :foodimg1, id: :drink_topimg , id: "file" %></label>

                  <div id="thumb" onClick="$('#file').click()">
                        <% if drink.foodimg1.present? %>
                          <div id="updimg"><%= image_tag drink.foodimg1.thumb.url if $drink.foodimg1? %></div> 
                        <% else %>
                          <div id="upimg"><%= image_tag("template/img") %></div>
                        <% end %>
                  </div>
              </div>

              <%= form.hidden_field :foodimg1_cache %>

              <div id="actions">
                  <li><%= form.submit(:決定) %></li>
              </div>

                <%= link_to myashop_myadmenu_mydrinks_path do %>
                    <div id="eback">編集を中止する</div>
                <% end %>

</div>

<% end %>

<script>

$(function(){
  $fileField = $('#file')
 
  // 選択された画像を取得し表示
  $($fileField).on('change', $fileField, function(e) {
    file = e.target.files[0]
    reader = new FileReader(),
    $preview = $("#thumb");
 
    reader.onload = (function(file) {
      return function(e) {
        $preview.empty();
        $preview.append($('<img>').attr({
          src: e.target.result,
          width: "100%",
          class: "preview",
          title: file.name
        }));
      };
    })(file);
    reader.readAsDataURL(file);
  });
});

</script>