

  <%= content_for(:head)  do %>
      <%= stylesheet_link_tag "shophome/ashop/content/menu", :media => "all" %>
      <%= javascript_include_tag "city" %>

      <title><%= page_title %></title>
  <% end %>


  <% @page_title = $asmenuc.name %>
  <% @title1 = $ashop.shopname %> 
  <% @title2 = @page_title %> 


  <%= content_for(:main)  do %>

    <div id="new"><%= link_to '＋メニューを追加する', new_myashop_myasmenuc_myasmenu_path, target:"_blank" %></div>
        <div id="feature-wrapper">

              <% $asmenus.each do |asmenu| %>
                  <%= link_to myashop_myasmenuc_myasmenu_path(myasmenuc_id:$asmenuc, id:asmenu) do %>
                   　<div id="box"><li id="list"><%= asmenu.name %></li></div>
                  <% end %>

                  <div id="stime"><%= asmenu.time1 %>:<%= asmenu.time2 %>~<%= asmenu.time3 %>:<%= asmenu.time4 %></div>

                  <div id="edit">
                    <%= link_to '✐編集する', edit_myashop_myasmenuc_myasmenu_path(myasmenuc_id:$asmenuc, id:asmenu), target:"_blank" %>
                  </div>
              <% end %>

        </div>
    <% end %>


