
<%= content_for(:head)  do %>
    <%= stylesheet_link_tag "shophome/bshop/each_equip", :media => "all" %>
    <%= javascript_include_tag "city" %>
    <title><%= page_title %></title>

<% end %>

<%= content_for(:main)  do %>

  <%= link_to new_mycshop_mycequipc_mycequip_path do%><div id="new">＋設備を追加する</div><% end %>

  <% $cequips.each do |cequip| %>

    <div id="each_equip">

        <div id="equip">
          
                <div id="top_pic"> 

                    <% if cequip.equip_img.present? %>
                      <%= link_to image_tag(cequip.equip_img_url), mycshop_mycequipc_mycequip_path(id:cequip) %> 
                    <% else %>
                      <%= link_to image_tag("template/logo3"), mycshop_mycequipc_mycequip_path(id:cequip) %> 
                    <% end %>
    
                </div>

                <P id="equip_name">
                    <% if cequip.name.present? %>
                        <%= cequip.name %>
                    <% else %>
                        （未入力）
                    <% end %>
                </P>

                <p id="edit">
                    <%= link_to '✐編集', edit_mycshop_mycequipc_mycequip_path(id:cequip) %>
                </p>    

         </div>
    </div>


  <% end %>


<% end %>

