    
    <%= stylesheet_link_tag "slick/slick.css", :media => "all" %>
    <%= stylesheet_link_tag "slick/slick-theme.css", :media => "all" %>

    <%= javascript_include_tag "slick.min.js" %>
    <%= javascript_include_tag "slick.js" %>


		<ul class="slider">
				<li><a href="#"><%= image_tag "top/2", :size =>'960x720', :alt =>'FIND　F9　find999　日本　トップ'  %></a></li>
				<li><a href="#"><img src="../images/hoge.jpg"></a></li>
				<li><a href="#"><img src="../images/hoge.jpg"></a></li>
				<li><a href="#"><img src="../images/hoge.jpg"></a></li>
		</ul>
