

<div class="main-navi">

    <div id="tab">
            <div class="tabs">
                <li rel="panel1" class="active"><%= @main_navi_img1 %></li>
                <li rel="panel2" class="active"><%= @main_navi_img2 %></li>
                <li rel="panel3" class="active"><%= @main_navi_img3 %></li>
                <li rel="panel4" class="active"><%= @main_navi_img4 %></li>
            </div> 
    </div>

    <div id="tab">
        <div class="tabs">
            <li rel="panel5"><%= image_tag("shopnavi/map")%></li>
            <li rel="panel6"><%= image_tag("shopnavi/info")%></li>
            <li rel="panel7"><%= image_tag("shopnavi/contact")%></li>
            <li rel="panel8"><%= image_tag("shopnavi/time")%></li>
        </div> 
    </div>

</div>