
<div id="uheader">

    <%= link_to @back1 do %><div id="back1"><%= image_tag 'template/home.gif', :size => "100x100" %></div><% end %>
    <%= link_to @city do %><div id="back2"><%= image_tag 'template/city.png', :size => "100x100" %></div><% end %>
    <p id="t1"><%= @title1 %></p>

</div>

<div id="uheader2">

	<%= link_to @back2 do %><div id="back1"><%= image_tag 'template/back/8.gif', :size => "100x100" %></div><% end %>
	<p id="t1"><%= @title2 %></p>

</div>

<!-- <%= link_to @back2 do %><div id="back3"><%= image_tag 'template/logo0.gif', :size => "130x130" %></div><% end %> -->