

<div id="uheader">

	<%= link_to @back do %><div id="back1"><%= image_tag 'template/back/8.gif', :size => "110x110" %></div><% end %>
	<%= link_to @city do %><div id="back2"><%= image_tag 'template/city.png', :size => "110x110" %></div><% end %>
	<p id="t1"><%= title %></p>

</div>