
<% @page_title = "ユーザー情報" %>
<% @title = @page_title %> 
<div id="mytext"><p>マイページ＞ユーザー情報</p></div>
<% @back = user_path(id: current_user.id) %>

<%= content_for(:main)  do %>
    <%= stylesheet_link_tag "myshop", :media => "all" %>
	<%= stylesheet_link_tag "footers/pp", :media => "all" %>

	<div id="main-feature">
		<div id="guide">マイページ＞ユーザー情報</div>

		<div id="uname2"><P><%= current_user.username %>様</p></div>
	　　　
	　　　<div id="">
		<p>ユーザーID：</p>
		<P><%= current_user.id %></p>
		</div>

		<div id="">
		<p>登録済email：</p>
		<P><%= current_user.email %></p>
		</div>





	</div>

<% end %>

