
<%= stylesheet_link_tag "selecter", :media => "all" %>

<%= form_for($ecategory, :url => {:action => "update"}, :html => {:multipart => true}) do |form| %>

	<div id="main-feature">

		<h1>カテゴリーの編集</h1>

		<%= render 'form', ecategory: $ecategory %>

		<div id="prev"><%= link_to 'Show', ecategories_path($ecategory) %><br />
		<%= link_to '戻る', ecategories_path %></div>

	</div>

<% end %>