
<%= content_for(:head)  do %>
    <%= stylesheet_link_tag "shophome/bshop/each_staff", :media => "all" %>
    <%= javascript_include_tag "city" %>
    <title><%= page_title %></title>

<% end %>

<%= content_for(:main)  do %>

  <% $cstaffs.each do |cstaff| %>

    <div id="each_staff">

        <div id="staff">
          
                <div id="top_pic"> 

                    <% if cstaff.staff_img.present? %>
                      <%= link_to image_tag(cstaff.staff_img_url), csearch_csstaffc_csstaff_path(id:cstaff) %> 
                    <% else %>
                      <%= link_to image_tag("template/logo3"), csearch_csstaffc_csstaff_path(id:cstaff) %> 
                    <% end %>
    
                </div>

                <P id="staff_name">
                    <% if cstaff.name.present? %>
                        <%= cstaff.name %>
                    <% else %>
                        （未入力）
                    <% end %>
                </P>

         </div>
    </div>


  <% end %>


<% end %>

