		
<%= stylesheet_link_tag "bottom_navi", :media => "all" %>
<div id="sheader">

    <div class="search">
            <p id="sbox1"><%= link_to image_tag("category/a", { :alt =>'FIND　F9　f9-shop'}), asearch_asshops_path %></p>
            <p id="sbox1"><%= link_to image_tag("category/b", { :alt =>'FIND　F9　f9-shop'}), bsearch_bsshops_path %></p>
            <p id="sbox1"><%= link_to image_tag("category/c", { :alt =>'FIND　F9　f9-shop'}), csearch_csshops_path %></p>
            <p id="sbox1"><%= link_to image_tag("category/d", { :alt =>'FIND　F9　f9-shop'}), dsearch_dsshops_path %></p>
            <p id="sbox1"><%= link_to image_tag("category/e", { :alt =>'FIND　F9　f9-shop'}), esearch_esshops_path %></p>
            <p id="sbox1"><%= link_to image_tag("category/f", { :alt =>'FIND　F9　f9-shop'}), fsearch_fsshops_path %></p>
            <p id="sbox1"><%= link_to image_tag("category/g", { :alt =>'FIND　F9　f9-shop'}), gsearch_gsshops_path %></p>
            <p id="sbox1"><%= link_to image_tag("category/h", { :alt =>'FIND　F9　f9-shop'}), hsearch_hsshops_path %></p>
     </div>

</div>
