

<div class="main-navi">

    <div id="tabs1">
           <p><%= link_to image_tag("category/a"), prefec_ashop_ashops_path(prefec_id:$prefec) %></p>
           <p><%= image_tag "category/b"%></p>
           <p><%= image_tag "category/c"%></p>
           <p><%= image_tag "category/d"%></p>
    </div>

    <div id="tabs2">
           <p><%= image_tag "category/e"%></p>
           <p><%= image_tag "category/f"%></p>
           <p><%= image_tag "category/g"%></p>
           <p><%= image_tag "category/h"%></p>
    </div>

</div>