<%= form_for($gequip, :url => {:action => "create"}, :html => {:multipart => true}) do |form| %>

  <% if gequip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gequip.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% gequip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="section" id="page">

    <h1>料理を編集する</h1>

              <%= form.hidden_field :gequipc_id %>

                  <div id="field-pic">
                      <%= form.label :equip_img do %><label for="labelx">写真1</label><% end %><br>

                      <label for="labely"><%= form.file_field :equip_img, id: :gequip_equip_img , id: "file1" %></label>

                      <div id="thumb1" onClick="$('#file1').click()">
                            <% if gequip.equip_img.present? %>
                              <div id="updimg"><%= image_tag gequip.equip_img.thumb.url if $gequip.equip_img? %></div> 
                            <% else %>
                              <div id="upimg"><%= image_tag("template/img") %></div>
                            <% end %>
                      </div>
                  </div>

              <%= form.hidden_field :equip_img_cache %>

              <div id="actions"><li><%= form.submit(:決定) %></li></div>

              <%= link_to mygshop_mygequipc_mygequips_path do %><div id="eback">編集を中止する</div><% end %>

</div>

<% end %>

<script>

$(function(){
  $fileField = $('#file1')
 
  // 選択された画像を取得し表示
  $($fileField).on('change', $fileField, function(e) {
    file = e.target.files[0]
    reader = new FileReader(),
    $preview = $("#thumb1");
 
    reader.onload = (function(file) {
      return function(e) {
        $preview.empty();
        $preview.append($('<img>').attr({
          src: e.target.result,
          width: "100%",
          class: "preview",
          title: file.name
        }));
      };
    })(file);
    reader.readAsDataURL(file);
  });
});

$(function(){
  $fileField = $('#file2')
 
  // 選択された画像を取得し表示
  $($fileField).on('change', $fileField, function(e) {
    file = e.target.files[0]
    reader = new FileReader(),
    $preview = $("#thumb2");
 
    reader.onload = (function(file) {
      return function(e) {
        $preview.empty();
        $preview.append($('<img>').attr({
          src: e.target.result,
          width: "100%",
          class: "preview",
          title: file.name
        }));
      };
    })(file);
    reader.readAsDataURL(file);
  });
});

$(function(){
  $fileField = $('#file3')
 
  // 選択された画像を取得し表示
  $($fileField).on('change', $fileField, function(e) {
    file = e.target.files[0]
    reader = new FileReader(),
    $preview = $("#thumb3");
 
    reader.onload = (function(file) {
      return function(e) {
        $preview.empty();
        $preview.append($('<img>').attr({
          src: e.target.result,
          width: "100%",
          class: "preview",
          title: file.name
        }));
      };
    })(file);
    reader.readAsDataURL(file);
  });
});

</script>

