
<%= content_for(:head)  do %>
    <%= stylesheet_link_tag "shophome/bshop/each_equip", :media => "all" %>
    <%= javascript_include_tag "city" %>
    <title><%= page_title %></title>

<% end %>

<%= content_for(:main)  do %>

  <%= link_to new_mydshop_mydstaffc_mydstaff_path, target:"_blank" do %><div id="new">＋設備を追加する</div><% end %>

  <% $dstaffs.each do |dstaff| %>

    <div id="each_equip">

        <div id="equip">
          
                <div id="top_pic"> 

                    <% if dstaff.staff_img.present? %>
                      <%= link_to image_tag(dstaff.staff_img_url), mydshop_mydstaffc_mydstaff_path(id:dstaff) %> 
                    <% else %>
                      <%= link_to image_tag("template/logo3"), mydshop_mydstaffc_mydstaff_path(id:dstaff) %> 
                    <% end %>
    
                </div>

                <P id="equip_name">
                    <% if dstaff.name.present? %>
                        <%= dstaff.name %>
                    <% else %>
                        （未入力）
                    <% end %>
                </P>

                <p id="edit">
                    <%= link_to '✐編集', edit_mydshop_mydstaffc_mydstaff_path(id:dstaff), target:"_blank" %>
                </p>    

         </div>
    </div>


  <% end %>


<% end %>

