
<% @page_title = "JAPAN" %>
<% @title = @page_title %> 


    <%= content_for(:main)  do %>
          <div id="main-feature">

            <%= javascript_include_tag "welcome" %>
            <%= javascript_include_tag "slick.min" %>

            <div id="feature-wrapper">

                    <%= stylesheet_link_tag "slick/slick.css", :media => "screen" %>
                    <%= stylesheet_link_tag "slick/slick-theme.css", :media => "screen" %>

                      <ul class="slider">
                          <li><%= image_tag "top/1", :alt =>'FIND　F9　f9 f9-shop.jp　日本　トップ' %><p>JAPAN</p></li>
                          <li><%= link_to image_tag("topad/ad1"), "https://f9-shop.jp/asearch/asshops/599" %><p>【公式】大衆居酒屋　楽</p></li>
                          <li><%= image_tag "top/3", :alt =>'FIND　F9　f9 f9-shop.jp　日本　トップ' %><p>AD2</p></li>
                          <li><%= image_tag "top/3", :alt =>'FIND　F9　f9 f9-shop.jp　日本　トップ' %><p>AD3</p></li>
                          <li><%= image_tag "top/3", :alt =>'FIND　F9　f9 f9-shop.jp　日本　トップ' %><p>AD4</p></li>
                          <li><%= image_tag "top/3", :alt =>'FIND　F9　f9 f9-shop.jp　日本　トップ' %><p>AD5</p></li>
                          <li><%= image_tag "top/3", :alt =>'FIND　F9　f9 f9-shop.jp　日本　トップ' %><p>AD6</p></li>
                          <li><%= image_tag "top/3", :alt =>'FIND　F9　f9 f9-shop.jp　日本　トップ' %><p>AD7</p></li>
                          <li><%= image_tag "top/3", :alt =>'FIND　F9　f9 f9-shop.jp　日本　トップ' %><p>AD8</p></li>
                          <li><%= image_tag "top/3", :alt =>'FIND　F9　f9 f9-shop.jp　日本　トップ' %><p>AD9</p></li>
                          <li><%= image_tag "top/3", :alt =>'FIND　F9　f9 f9-shop.jp　日本　トップ' %><p>AD10</p></li>
                      </ul>

            </div>
                      <div id="top_af1">
                        <script type="text/javascript">var nend_params = {"media":64415,"site":334763,"spot":998501,"type":1,"oriented":1};</script>
                        <script type="text/javascript" src="https://js1.nend.net/js/nendAdLoader.js"></script>
                      </div>
          </div>
    <% end %>

    <%= content_for(:mnavi)  do %>
        <%= render 'shared/top/mnavi' %>
    <% end %>
