
<% @page_title = "JAPAN" %>
<% @title = @page_title %> 


    <%= content_for(:main)  do %>
          <div id="main-feature">

            <%= javascript_include_tag "welcome" %>
            <%= javascript_include_tag "slick.min" %>

            <div id="feature-wrapper">

                    <%= stylesheet_link_tag "slick/slick.css", :media => "screen" %>
                    <%= stylesheet_link_tag "slick/slick-theme.css", :media => "screen" %>

                      <ul class="slider">
                          <li><%= image_tag "top/1", :alt =>'FIND　F9　f9 f9-shop.jp　日本　トップ' %><p>JAPAN</p></li>
                          <li><%= image_tag "top/3", :alt =>'FIND　F9　f9 f9-shop.jp　日本　トップ' %><p>AD1</p></li>
                          <li><%= image_tag "top/3", :alt =>'FIND　F9　f9 f9-shop.jp　日本　トップ' %><p>AD2</p></li>
                          <li><%= image_tag "top/3", :alt =>'FIND　F9　f9 f9-shop.jp　日本　トップ' %><p>AD3</p></li>
                          <li><%= image_tag "top/3", :alt =>'FIND　F9　f9 f9-shop.jp　日本　トップ' %><p>AD4</p></li>
                          <li><%= image_tag "top/3", :alt =>'FIND　F9　f9 f9-shop.jp　日本　トップ' %><p>AD5</p></li>
                          <li><%= image_tag "top/3", :alt =>'FIND　F9　f9 f9-shop.jp　日本　トップ' %><p>AD6</p></li>
                          <li><%= image_tag "top/3", :alt =>'FIND　F9　f9 f9-shop.jp　日本　トップ' %><p>AD7</p></li>
                          <li><%= image_tag "top/3", :alt =>'FIND　F9　f9 f9-shop.jp　日本　トップ' %><p>AD8</p></li>
                          <li><%= image_tag "top/3", :alt =>'FIND　F9　f9 f9-shop.jp　日本　トップ' %><p>AD9</p></li>
                          <li><%= image_tag "top/3", :alt =>'FIND　F9　f9 f9-shop.jp　日本　トップ' %><p>AD10</p></li>
                      </ul>

                      <a href="https://px.a8.net/svt/ejp?a8mat=3B7GQK+94NAPE+50+2HN8K1" rel="nofollow">
<img border="0" width="728" height="90" alt="" src="https://www23.a8.net/svt/bgt?aid=200222588552&wid=001&eno=01&mid=s00000000018015057000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3B7GQK+94NAPE+50+2HN8K1" alt="">
            </div>
          </div>
    <% end %>
<%= content_for(:mnavi)  do %>
    <%= render 'shared/top/mnavi' %>
<% end %>

<% @adimg1 = link_to image_tag("template/logo0", 
                            { :alt =>'FIND　F9　f9 f9-shop.jp'}),
                              %>

<% @adimg2 = link_to image_tag("template/logo0", 
                            { :alt =>'FIND　F9　f9 f9-shop.jp'}),
                              %>

<% @adimg3 = link_to image_tag("template/logo0", 
                            { :alt =>'FIND　F9　f9 f9-shop.jp'}),
                              %>

<% @adimg4 = link_to image_tag("template/logo0", 
                            { :alt =>'FIND　F9　f9 f9-shop.jp'}),
                              %>

<% @adimg5 = link_to image_tag("template/logo0", 
                            { :alt =>'FIND　F9　f9 f9-shop.jp'}),
                              %>

<% @adimg6 = link_to image_tag("template/logo0", 
                            { :alt =>'FIND　F9　f9 f9-shop.jp'}),
                              %>

<% @adimg7 = link_to image_tag("template/logo0", 
                            { :alt =>'FIND　F9　f9 f9-shop.jp'}),
                              %>

<% @adimg8 = link_to image_tag("template/logo0", 
                            { :alt =>'FIND　F9　f9 f9-shop.jp'}),
                              %>

<% @adimg9 = link_to image_tag("template/logo0", 
                            { :alt =>'FIND　F9　f9 f9-shop.jp'}),
                              %>

<% @adimg10 = link_to image_tag("template/logo0", 
                            { :alt =>'FIND　F9　f9 f9-shop.jp'}),
                              %>
