
<% @page_title = $dequip.name %> 
<% @title2 = $dequip.name %> 

<%= content_for(:edit) do %>

<% end %>


<%= content_for(:main) do %>
	<div id="edit">
    	<%= link_to '✐編集', equip_img_mydshop_mydequipc_mydequip_path(id:$dequip) %>
    </div>    

	<% $dequips.each do |dequip| %>

		<% if $dequip.equip_img.present? %>
			<div class="mainImage"><%= image_tag $dequip.equip_img_url %></div>
		<% else %>
			<div class="mainImage"><%= image_tag "template/logo3" %></div>
		<% end %>

	<% end %>
<% end %>

<%= content_for(:second_feature) do %>

			<% if $dequip.explain.present? %>
					<p><%= $dequip.explain %></p>
			<% else %>
					<p>未入力</p>
			<% end %>

<% end %>