

<%= stylesheet_link_tag "creater/ashop/home", :media => "all" %>


<%= form_for($dshop, :url => {:action => "create"}, :html => {:multipart => true}) do |form| %>
    <% if dshop.errors.any? %>

          <div id="error_explanation">
              <h2><%= pluralize(dshop.errors.count, "error") %> prohibited this dshop from being saved:</h2>
                  <ul>
                    <% dshop.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
          </div>
      
     <% end %>
     
          <div class="section" id="page">

                <h1>アクセスを編集する</h1>

                <div id="field">
                  <%= form.label :postnumb do %><label for="labelx">郵便番号</label><% end %><br>
                  <%= form.text_field :postnumb, placeholder: '123-1234' %>
                </div>

                <div id="field">
                  <%= form.label :address do %><label for="labelx">住所</label><% end %><br>
                  <%= form.text_field :address, placeholder: '広島県東広島市西条町999-9' %>
                </div>

                <div id="field">
                  <%= form.label :bus do %><label for="labelx">最寄駅（バス）</label><% end %><br>
                  <%= form.text_field :bus, placeholder: '広島駅　徒歩10分' %>
                </div>

                <div id="field">
                  <%= form.label :train do %><label for="labelx">最寄駅（電車）</label><% end %><br>
                  <%= form.text_field :train, placeholder: '広島駅　徒歩10分' %>
                </div>

                    <%= form.hidden_field :topimage_cache %>
                    <%= form.hidden_field :shopimage1_cache %>
                    <%= form.hidden_field :shopimage2_cache %>
                    <%= form.hidden_field :shopimage3_cache %>

                <div id="actions">
                  <%= form.submit(:決定) %>
                </div>

                <%= link_to mydshop_mydshop_path(id:$dshop) do %>
                    <div id="eback">編集を中止する</div>
                <% end %>

          </div>

<% end %>