
<%= content_for(:head)  do %>
  <%= stylesheet_link_tag "shophome/bshop/each_equip", :media => "all" %>
  <%= javascript_include_tag "city" %>
  <title><%= page_title %></title>

<% end %>

<%= content_for(:main)  do %>

<% $dequips.each do |dequip| %>

  <div id="each_equip">

      <div id="equip">
        
              <div id="top_pic"> 

                  <% if dequip.equip_img.present? %>
                    <%= link_to image_tag(dequip.equip_img_url), dsearch_dsequipc_dsequip_path(id:dequip) %> 
                  <% else %>
                    <%= link_to image_tag("template/logo3"), dsearch_dsequipc_dsequip_path(id:dequip) %> 
                  <% end %>
  
              </div>

              <p id="equip_name">
                  <% if dequip.name.present? %>
                      <%= dequip.name %>
                  <% else %>
                      （未入力）
                  <% end %>
              </p>

       </div>
  </div>


<% end %>


<% end %>

