

<%= stylesheet_link_tag "creater/ashop/time", :media => "all" %>


<%= form_for($ashop, :url => {:action => "create"}, :html => {:multipart => true}) do |form| %>
    <% if ashop.errors.any? %>

          <div id="error_explanation">
              <h2><%= pluralize(ashop.errors.count, "error") %> prohibited this shop from being saved:</h2>
                  <ul>
                    <% ashop.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
          </div>
      
     <% end %>



     <div class="section" id="page">

          <h1>営業時間を編集する</h1>

                <div id="field">
                  <label for="labelx">日曜日 午前</label><br>

                    <%= form.select :sunam1, 
                    ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                    : <%= form.select :sunam2, 
                    ['00', '05', '10', '15', '20', '25', '30', '35', '40', '45', '50', '55'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                     ~ <%= form.select :sunam3, 
                    ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                    : <%= form.select :sunam4, 
                    ['00', '05', '10', '15', '20', '25', '30', '35', '40', '45', '50', '55'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                  <label for="labelx">日曜日 午後</label><br>
                  
                    <%= form.select :sunpm1, 
                    ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                    : <%= form.select :sunpm2, 
                    ['00', '05', '10', '15', '20', '25', '30', '35', '40', '45', '50', '55'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                     ~ <%= form.select :sunpm3, 
                    ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                    : <%= form.select :sunpm4, 
                    ['00', '05', '10', '15', '20', '25', '30', '35', '40', '45', '50', '55'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                </div>

                <div id="field">
                  <label for="labelx">月曜日 午前</label><br>

                    <%= form.select :monam1, 
                    ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                    : <%= form.select :monam2, 
                    ['00', '05', '10', '15', '20', '25', '30', '35', '40', '45', '50', '55'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                     ~ <%= form.select :monam3, 
                    ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                    : <%= form.select :monam4, 
                    ['00', '05', '10', '15', '20', '25', '30', '35', '40', '45', '50', '55'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                  <label for="labelx">月曜日 午後</label><br>
                  
                    <%= form.select :monpm1, 
                    ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                    : <%= form.select :monpm2, 
                    ['00', '05', '10', '15', '20', '25', '30', '35', '40', '45', '50', '55'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                     ~ <%= form.select :monpm3, 
                    ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                    : <%= form.select :monpm4, 
                    ['00', '05', '10', '15', '20', '25', '30', '35', '40', '45', '50', '55'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                </div>

                <div id="field">
                  <label for="labelx">火曜日 午前</label><br>

                    <%= form.select :tueam1, 
                    ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                    : <%= form.select :tueam2, 
                    ['00', '05', '10', '15', '20', '25', '30', '35', '40', '45', '50', '55'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                     ~ <%= form.select :tueam3, 
                    ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                    : <%= form.select :tueam4, 
                    ['00', '05', '10', '15', '20', '25', '30', '35', '40', '45', '50', '55'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                  <label for="labelx">火曜日 午後</label><br>
                  
                    <%= form.select :tuepm1, 
                    ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                    : <%= form.select :tuepm2, 
                    ['00', '05', '10', '15', '20', '25', '30', '35', '40', '45', '50', '55'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                     ~ <%= form.select :tuepm3, 
                    ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                    : <%= form.select :tuepm4, 
                    ['00', '05', '10', '15', '20', '25', '30', '35', '40', '45', '50', '55'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                </div>

                <div id="field">
                  <label for="labelx">水曜日 午前</label><br>

                    <%= form.select :wedam1, 
                    ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                    : <%= form.select :wedam2, 
                    ['00', '05', '10', '15', '20', '25', '30', '35', '40', '45', '50', '55'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                     ~ <%= form.select :wedam3, 
                    ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                    : <%= form.select :wedam4, 
                    ['00', '05', '10', '15', '20', '25', '30', '35', '40', '45', '50', '55'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                  <label for="labelx">水曜日 午後</label><br>
                  
                    <%= form.select :wedpm1, 
                    ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                    : <%= form.select :wedpm2, 
                    ['00', '05', '10', '15', '20', '25', '30', '35', '40', '45', '50', '55'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                     ~ <%= form.select :wedpm3, 
                    ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                    : <%= form.select :wedpm4, 
                    ['00', '05', '10', '15', '20', '25', '30', '35', '40', '45', '50', '55'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                </div>

                <div id="field">
                  <label for="labelx">木曜日 午前</label><br>

                    <%= form.select :thuam1, 
                    ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                    : <%= form.select :thuam2, 
                    ['00', '05', '10', '15', '20', '25', '30', '35', '40', '45', '50', '55'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                     ~ <%= form.select :thuam3, 
                    ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                    : <%= form.select :thuam4, 
                    ['00', '05', '10', '15', '20', '25', '30', '35', '40', '45', '50', '55'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                  <label for="labelx">木曜日 午後</label><br>
                  
                    <%= form.select :thupm1, 
                    ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                    : <%= form.select :thupm2, 
                    ['00', '05', '10', '15', '20', '25', '30', '35', '40', '45', '50', '55'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                     ~ <%= form.select :thupm3, 
                    ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                    : <%= form.select :thupm4, 
                    ['00', '05', '10', '15', '20', '25', '30', '35', '40', '45', '50', '55'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                </div>

                <div id="field">
                  <label for="labelx">金曜日 午前</label><br>

                    <%= form.select :friam1, 
                    ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                    : <%= form.select :friam2, 
                    ['00', '05', '10', '15', '20', '25', '30', '35', '40', '45', '50', '55'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                     ~ <%= form.select :friam3, 
                    ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                    : <%= form.select :friam4, 
                    ['00', '05', '10', '15', '20', '25', '30', '35', '40', '45', '50', '55'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                  <label for="labelx">金曜日 午後</label><br>
                  
                    <%= form.select :fripm1, 
                    ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                    : <%= form.select :fripm2, 
                    ['00', '05', '10', '15', '20', '25', '30', '35', '40', '45', '50', '55'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                     ~ <%= form.select :fripm3, 
                    ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                    : <%= form.select :fripm4, 
                    ['00', '05', '10', '15', '20', '25', '30', '35', '40', '45', '50', '55'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                </div>

                <div id="field">
                  <label for="labelx">土曜日 午前</label><br>

                    <%= form.select :satam1, 
                    ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                    : <%= form.select :satam2, 
                    ['00', '05', '10', '15', '20', '25', '30', '35', '40', '45', '50', '55'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                     ~ <%= form.select :satam3, 
                    ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                    : <%= form.select :satam4, 
                    ['00', '05', '10', '15', '20', '25', '30', '35', '40', '45', '50', '55'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                  <label for="labelx">土曜日 午後</label><br>
                  
                    <%= form.select :satpm1, 
                    ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                    : <%= form.select :satpm2, 
                    ['00', '05', '10', '15', '20', '25', '30', '35', '40', '45', '50', '55'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                     ~ <%= form.select :satpm3, 
                    ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                    : <%= form.select :satpm4, 
                    ['00', '05', '10', '15', '20', '25', '30', '35', '40', '45', '50', '55'],
                     {include_blank: '時間を選択'}, class: 'sample' %>

                </div>



                    <%= form.hidden_field :topimage_cache %>
                    <%= form.hidden_field :shopimage1_cache %>
                    <%= form.hidden_field :shopimage2_cache %>
                    <%= form.hidden_field :shopimage3_cache %>

                <div id="actions">
                  <%= form.submit(:決定) %>
                </div>

                <%= link_to myashop_myashop_path(id:$ashop) do %>
                    <div id="eback">編集を中止する</div>
                <% end %>
      </div>

<% end %>

