
<%= content_for(:head)  do %>
    <%= stylesheet_link_tag "shophome/bshop/each_equip", :media => "all" %>
    <%= javascript_include_tag "city" %>
    <title><%= page_title %></title>

<% end %>

<%= content_for(:main)  do %>

  <%= link_to new_mycshop_mycstaffc_mycstaff_path do%><div id="new">＋設備を追加する</div><% end %>

  <% $cstaffs.each do |cstaff| %>

    <div id="each_equip">

        <div id="equip">
          
                <div id="top_pic"> 

                    <% if cstaff.staff_img.present? %>
                      <%= link_to image_tag(cstaff.staff_img_url), mycshop_mycstaffc_mycstaff_path(id:cstaff) %> 
                    <% else %>
                      <%= link_to image_tag("template/logo3"), mycshop_mycstaffc_mycstaff_path(id:cstaff) %> 
                    <% end %>
    
                </div>

                <p id="equip_name">
                    <% if cstaff.name.present? %>
                        <%= cstaff.name %>
                    <% else %>
                        （未入力）
                    <% end %>
                </p>

                <p id="edit">
                    <%= link_to '✐編集', edit_mycshop_mycstaffc_mycstaff_path(id:cstaff) %>
                </p>    

         </div>
    </div>


  <% end %>


<% end %>

