
<% @page_title = $cstaff.name %> 
<% @title2 = $cstaff.name %> 

<%= content_for(:edit) do %>

<% end %>


<%= content_for(:main) do %>
	<div id="edit">
    	<%= link_to '✐編集', staff_img_mycshop_mycstaffc_mycstaff_path(id:$cstaff) %>
    </div>    

	<% $cstaffs.each do |cstaff| %>

		<% if $cstaff.staff_img.present? %>
			<div class="mainImage"><%= image_tag $cstaff.staff_img_url %></div>
		<% else %>
			<div class="mainImage"><%= image_tag "template/logo3" %></div>
		<% end %>

	<% end %>
<% end %>

<%= content_for(:second_feature) do %>

			<% if $cstaff.explain.present? %>
					<p><%= $cstaff.explain %></p>
			<% else %>
					<p>未入力</p>
			<% end %>

<% end %>