

  <%= content_for(:head)  do %>
      <%= stylesheet_link_tag "shophome/ashop/content/menu", :media => "all" %>
      <%= javascript_include_tag "city" %>

      <title><%= page_title %></title>
  <% end %>


  <% @page_title = $mcategory.name %> 
  <% @title1 = $ashop.shopname %> 
  <% @title2 = @page_title %> 
  <% @edit = new_myashop_myadmenus_myadmenu_path(myadmenuc_id:$admenuc) %>

  <% @back1 = myashop_myashop_path(id:$ashop) %>
  <% @city  = myashop_myashops_path %>
  <% @back2 = @back1 %>

  <% @phone = $ashop.phone1 %>


  <%= content_for(:main)  do %>

    <div id="new"><%= link_to '＋項目を編集する', myashop_myadmenuc_myadmenus_path(myadmenuc_id:$admenuc)  %></div>
        <div id="feature-wrapper">

              <% $menus.each do |menu| %>

                  <%= link_to myashop_myadmenuc_myadmenu_path(myadmenuc_id:$admenuc,　id:$admenu) do %>
                   　<div id="box"><li id="list"><%= admenu.name %></li></div>
                  <% end %>

                  <div id="stime"><%= admenu.time1 %>~<%= admenu.time1 %></div>

                  <div id="edit">
                    <%= link_to '✐編集する', edit_myashop_myadmenuc_myadmenu_path(myadmenuc_id:$admenuc, id:menu) %>
                  </div>

              <% end %>

        </div>
    <% end %>

