
<%= content_for(:head)  do %>
    <%= stylesheet_link_tag "shophome/bshop/each_equip", :media => "all" %>
    <%= javascript_include_tag "city" %>
    <title><%= page_title %></title>

<% end %>

<%= content_for(:main)  do %>

  <% $fequips.each do |fequip| %>

    <div id="each_equip">

        <div id="equip">
          
                <div id="top_pic"> 

                    <% if fequip.equip_img.present? %>
                      <%= link_to image_tag(fequip.equip_img_url), fsearch_fsequipc_fsequip_path(id:fequip) %> 
                    <% else %>
                      <%= link_to image_tag("template/logo3"), fsearch_fsequipc_fsequip_path(id:fequip) %> 
                    <% end %>
    
                </div>

                <P id="equip_name">
                    <% if fequip.name.present? %>
                        <%= fequip.name %>
                    <% else %>
                        （未入力）
                    <% end %>
                </P>

         </div>
    </div>


  <% end %>


<% end %>

