
<% @page_title = $fequip.name %> 
<% @title2 = $fequip.name %> 

<%= content_for(:main) do %>
	<% $fequips.each do |fequip| %>

		<% if $fequip.equip_img.present? %>
			<div class="mainImage"><%= image_tag $fequip.equip_img_url %></div>
		<% else %>
			<div class="mainImage"><%= image_tag "template/logo3" %></div>
		<% end %>

	<% end %>
<% end %>

<%= content_for(:second_feature) do %>

			<% if $fequip.explain.present? %>
					<p><%= $fequip.explain %></p>
			<% else %>
					<p>未入力</p>
			<% end %>

<% end %>