

	<p id="notice"><%= notice %></p>

	<%= content_for(:head)  do %>
	    <meta name="description" content="">
	    <title><%= page_title %></title>
      <% end %>

      <%= content_for(:main)  do %>
            <div id="main-feature">
                  <%= javascript_include_tag "shop" %>
                  <%= javascript_include_tag "slick.min" %>
      
                        <div id="feature-wrapper">
                              <%= stylesheet_link_tag "slick/slick.css", :media => "screen" %>
                              <%= stylesheet_link_tag "slick/slick-theme.css", :media => "screen" %>

                              <ul class="slider">
                                    <% if $ashop.shopimage1.present? %>
                                          <li><%= image_tag $ashop.shopimage1_url %><p><%= $ashop.shopname %></p></li>
                                    <% else %>
                                          <li><%= image_tag "template/homepics" %><p><%= $ashop.shopname %></p></li>
                                    <% end %>
                                    <% if $ashop.shopimage2.present? %>
                                          <li><%= image_tag $ashop.shopimage2_url %><p>image2</p></li>
                                    <% else %>
                                          <li><%= image_tag "template/homepics" %><p>image2</p></li>
                                    <% end %>
                                    <% if $ashop.shopimage3.present? %>
                                          <li><%= image_tag $ashop.shopimage3_url %><p>image3</p></li>
                                    <% else %>
                                          <li><%= image_tag "template/homepics" %><p>image3</p></li>
                                    <% end %>
                              </ul>
                        </div>
                        <div id="top_af1">
                        <a href="https://px.a8.net/svt/ejp?a8mat=3B7GQL+8RJREA+4G9Q+5ZEMP" rel="nofollow">
                        <img border="0" width="728" height="90" alt="" src="https://www24.a8.net/svt/bgt?aid=200222589530&wid=001&eno=01&mid=s00000020771001005000&mc=1"></a>
                        <img border="0" width="1" height="1" src="https://www16.a8.net/0.gif?a8mat=3B7GQL+8RJREA+4G9Q+5ZEMP" alt="">
                        </div>
            </div>
       <% end %>

	<%= content_for(:idc1)  do %>
              <% $amenucs.each do |amenuc| %>
                    <div class="line">
                          <%= link_to asearch_asshop_asmenuc_path(asshop_id:$ashop, id:amenuc) do %>
                              <li id="mc"><%= amenuc.name %></li><br>
                          <%end%>
                    </div>
              <% end %>
	<% end %>

	<%= content_for(:idc2)  do %>
              <% $asmenucs.each do |asmenuc| %>
                    <div class="line">
                          <%= link_to asearch_asshop_assmenuc_path(asshop_id:$ashop, id:asmenuc) do %>
                              <li id="mc"><%= asmenuc.name %></li><br>
                          <%end%>
                    </div>
              <% end %>
	<% end %>

	<%= content_for(:idc3)  do %>
              <% $admenucs.each do |admenuc| %>
                    <div class="line">
                          <%= link_to asearch_asshop_adsmenuc_path(asshop_id:$ashop, id:admenuc) do %>
                              <li id="mc"><%= admenuc.name %></li><br>
                          <%end%>
                    </div>
              <% end %>
	<% end %>

	<%= content_for(:idc4)  do %>
              <% $atmenucs.each do |atmenuc| %>
                    <div class="line">
                          <%= link_to asearch_asshop_atsmenuc_path(asshop_id:$ashop, id:atmenuc) do %>
                              <li id="mc"><%= atmenuc.name %></li><br>
                          <%end%>
                    </div>
              <% end %>
	<% end %>

	<% @page_title = $ashop.shopname %> 
	<% @title = @page_title %>

	<% @navi4 = contact_asearch_asshop_path %>
	<% @navi5 = access_asearch_asshop_path %>
	<% @navi6 = info_asearch_asshop_path %>
	<% @navi7 =  contact_asearch_asshop_path %>
	<% @navi8 =  time_asearch_asshop_path %>

	<% @subnavi1 = pub_asearch_asshop_path %>
	<% @subnavi2 =  %>

