

	<p id="notice"><%= notice %></p>

	<%= content_for(:head)  do %>
	    <title><%= page_title %></title>
    <% end %>
    
    <%= content_for(:home_edit)  do %>
        <div id="home_edit_btn">
        <%if user_signed_in? && $ashop.user_id == current_user.id %>
                    <%= link_to img_edit_myashop_myashop_path, target:"_blank" do%><div id="edit">✐編集する</div><% end %>
        <% end %>
        </div>
    <% end %>

  <%= content_for(:main)  do %>
    <div id="main-feature">
          <%= javascript_include_tag "shop" %>
          <%= javascript_include_tag "slick.min" %>

                <div id="feature-wrapper">
                      <%= stylesheet_link_tag "slick/slick.css", :media => "screen" %>
                      <%= stylesheet_link_tag "slick/slick-theme.css", :media => "screen" %>

                      <ul class="slider">
                            <% if $ashop.shopimage1.present? %>
                               <%= link_to img1_edit_myashop_myashop_path, target:"_blank" do%><li><%= image_tag $ashop.shopimage1_url %><p><%= $ashop.shopname %></p></li><% end %>
                            <% else %>
                               <%= link_to img1_edit_myashop_myashop_path, target:"_blank" do%><li><%= image_tag "template/homepics" %><p><%= $ashop.shopname %></p></li><% end %>
                            <% end %>
                            <% if $ashop.shopimage2.present? %>
                                  <li><%= image_tag $ashop.shopimage2_url %><p>image2</p></li>
                            <% else %>
                                  <li><%= image_tag "template/homepics" %><p>image2</p></li>
                            <% end %>
                            <% if $ashop.shopimage3.present? %>
                                  <li><%= image_tag $ashop.shopimage3_url %><p>image3</p></li>
                            <% else %>
                                  <li><%= image_tag "template/homepics" %><p>image3</p></li>
                            <% end %>
                      </ul>
                </div>
                <div id="top_af1">
                      <a href="https://px.a8.net/svt/ejp?a8mat=3B7GQK+94NAPE+50+2HN8K1" rel="nofollow">
                      <img border="0" width="728" height="90" alt="" src="https://www23.a8.net/svt/bgt?aid=200222588552&wid=001&eno=01&mid=s00000000018015057000&mc=1"></a>
                      <img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3B7GQK+94NAPE+50+2HN8K1" alt="">
                </div>
    </div>
<% end %>

	<%= content_for(:idc1)  do %>
	        <%if user_signed_in? && $ashop.user_id == current_user.id %>
                  <div id="ltop">
                      <%= link_to new_myashop_myashop_myamenuc_path(myashop_id:$ashop), target:"_blank" do %>
                          <p>⊕カテゴリーを追加する</p>
                      <% end %>
                  </div>
            <%end%>

            <% $amenucs.each do |amenuc| %>
                    <div class="line">
                          <%= link_to myashop_myashop_myamenuc_path(myashop_id:$ashop, id:amenuc) do %>
                              <li id="mc"><%= amenuc.name %></li><br>
                          <%end%>
                          <%= link_to edit_myashop_myashop_myamenuc_path(myashop_id:$ashop, id:amenuc), target:"_blank" do %>
                               <p id="mcedit">✐編集する</p>
                          <% end %>
                    </div>
            <% end %>
	<% end %>

	<%= content_for(:idc2)  do %>
	        <%if user_signed_in? && $ashop.user_id == current_user.id %>
                  <div id="ltop">
                      <%= link_to new_myashop_myashop_myasmenuc_path(myashop_id:$ashop), target:"_blank" do %>
                          <p>⊕カテゴリーを追加する</p>
                      <% end %>
                  </div>
            <% end %>

            <% $asmenucs.each do |asmenuc| %>
                    <div class="line">
                          <%= link_to myashop_myashop_myasmenuc_path(myashop_id:$ashop, id:asmenuc) do %>
                              <li id="mc"><%= asmenuc.name %></li><br>
                          <%end%>
                          <%= link_to edit_myashop_myashop_myasmenuc_path(myashop_id:$ashop, id:asmenuc), target:"_blank" do %>
                               <p id="mcedit">✐編集する</p>
                          <% end %>
                    </div>
            <% end %>
	<% end %>

	<%= content_for(:idc3)  do %>
			<%if user_signed_in? && $ashop.user_id == current_user.id %>
                  <div id="ltop">
                      <%= link_to new_myashop_myashop_myadmenuc_path(myashop_id:$ashop), target:"_blank" do %>
                          <p>⊕カテゴリーを追加する</p>
                      <% end %>
                  </div>
            <% end %>

              <% $admenucs.each do |admenuc| %>
                    <div class="line">
                          <%= link_to myashop_myashop_myadmenuc_path(myashop_id:$ashop, id:admenuc) do %>
                              <li id="mc"><%= admenuc.name %></li><br>
                          <%end%>
                          <%= link_to edit_myashop_myashop_myadmenuc_path(myashop_id:$ashop, id:admenuc), target:"_blank" do %>
                               <p id="mcedit">✐編集する</p>
                          <% end %>
                    </div>
            <% end %>
	<% end %>

	<%= content_for(:idc4)  do %>
	        <%if user_signed_in? && $ashop.user_id == current_user.id %>
                  <div id="ltop">
                      <%= link_to new_myashop_myashop_myatmenuc_path(myashop_id:$ashop), target:"_blank" do%>
                          <p>⊕カテゴリーを追加する</p>
                      <% end %>
                  </div>
            <% end %>

            <% $atmenucs.each do |atmenuc| %>
                    <div class="line">
                          <%= link_to myashop_myashop_myatmenuc_path(myashop_id:$ashop, id:atmenuc) do %>
                              <li id="mc"><%= atmenuc.name %></li><br>
                          <%end%>
                          <%= link_to edit_myashop_myashop_myatmenuc_path(myashop_id:$ashop, id:atmenuc), target:"_blank" do%>
                               <p id="mcedit">✐編集する</p>
                          <% end %>
                    </div>
            <% end %>
	<% end %>


	<% @page_title = $ashop.shopname %> 
	<% @title = @page_title %>
	<% @edit = img_edit_myashop_myashop_path %>  
      
      <% @main_navi_img1 =  image_tag("shopnavi/menu") %>
	<% @main_navi_img2 =  image_tag("shopnavi/menu2") %>
	<% @main_navi_img3 =  image_tag("shopnavi/drink") %>
	<% @main_navi_img4 =  image_tag("shopnavi/takeout") %>
	
	<% @main_navi_title1 =  "メインメニュー" %>
	<% @main_navi_title2 =  "サブメニュー" %>
	<% @main_navi_title3 =  "ドリンクメニュー" %>
	<% @main_navi_title4 =  "テイクアウトメニュー" %>
   
      <% @navi4 = contact_myashop_myashop_path %>
	<% @navi5 = access_myashop_myashop_path %>
	<% @navi6 = info_myashop_myashop_path %>
	<% @navi7 = contact_myashop_myashop_path %>
	<% @navi8 = time_myashop_myashop_path %>
    

	<% @subnavi1 =  %>
	<% @subnavi2 =  %>

