
<%= content_for(:head)  do %>
    <%= stylesheet_link_tag "shophome/ashop/each", :media => "all" %>
    <%= javascript_include_tag "city" %>
    <title><%= page_title %></title>

<% end %>

<% @page_title = $hmenu.name %> 
<% @title1 = $hshop.shopname %> 
<% @title2 = $hmenu.name %>


<%= content_for(:main)  do %>

  <% $items.each do |item| %>

        <div id="auto">
          
                <div id="top_pic"> 

                    <% if item.topimg.present? %>
                      <%= link_to image_tag(item.topimg_url, {:size =>'300x300'}), hsearch_hsmenu_sitem_path(id:item) %> 
                    <% else %>
                      <%= link_to image_tag("template/logo3", {:size =>'300x300'}), hsearch_hsmenu_sitem_path(id:item) %> 
                    <% end %>
    
                </div>

                <P id="auto_name1">
                    <% if item.itemname1.present? %>
                        <%= item.itemname1 %>
                    <% else %>
                        未入力（料理名１）
                    <% end %>
                </P>

                <P id="auto_name2">
                    <% if item.itemname2.present? %>
                        <%= item.itemname2 %>
                    <% else %>
                        未入力（料理名２）
                    <% end %>
                </P>

                <P id="price">税込：<%= item.price %>円</P>

          </div>


  <% end %>


<% end %>

