
<%= form_for($ccategory, :url => {:action => "create"}, :html => {:multipart => true}) do |form| %>

  <% if ccategory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ccategory.errors.count, "error") %> prohibited this ccategory from being saved:</h2>

      <ul>
      <% ccategory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
      <p id="st3">
        <%= form.label :name %><br>
        <%= form.text_field :name %>
      </p>
    </div>

    <div class="actions">
      <div id="new">
      <%= form.submit %>
      </div>
    </div>

<% end %>
