
<%= stylesheet_link_tag "selecter", :media => "all" %>

<%= form_for($dcategory, :url => {:action => "update"}, :html => {:multipart => true}) do |form| %>

	<div id="main-feature">

		<h1>カテゴリーの編集</h1>

		<%= render 'form', dcategory: $dcategory %>

		<div id="prev"><%= link_to 'Show', dcategories_path($dcategory) %><br />
		<%= link_to '戻る', dcategories_path %></div>

	</div>

<% end %>