
<%= form_for($fsmenuc, :url => {:action => "create"}, :html => {:multipart => true}) do |form| %>

  <% if fsmenuc.errors.any? %>
      <div id="error_explanation">
          <h2><%= pluralize(fsmenuc.errors.count, "error") %> prohibited this bmenuc from being saved:</h2>

          <ul>
              <% fsmenuc.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
          </ul>
      </div>
  <% end %>

  <div class="section" id="page">

    <h1>メニュー項目を編集する</h1>

      <%= form.hidden_field :fshop_id %>

      <div id="field">
          <%= form.label :name do %><label for="labelx">:メニューカテゴリー名</label><% end %><br>
          <%= form.text_field :name, placeholder: '例）内科' %>
      </div>

      <div id="actions">
          <li><%= form.submit(:決定) %></li>
      </div>

      <%= link_to myfshop_myfshop_path(id:$fshop) do %>
          <div id="eback">編集を中止する</div>
      <% end %>

  </div>

<% end %>
