

  <%= content_for(:head)  do %>
      <%= stylesheet_link_tag "shophome/ashop/content/menu", :media => "all" %>
      <%= javascript_include_tag "city" %>

      <title><%= page_title %></title>
  <% end %>


  <% @page_title = $amenuc.name %> 
  <% @title1 = $ashop.shopname %> 
  <% @title2 = @page_title %> 

  <%= content_for(:main)  do %>

        <div id="feature-wrapper">
        <h2 id="menutitle"><%= $amenuc.name %></h2>

              <% $amenus.each do |amenu| %>
                  <%= link_to asearch_asmenuc_asmenu_path(asmenuc_id:$amenuc, id:amenu) do %>
                   　<div id="box"><li id="list"><%= amenu.name %></li></div>
                  <% end %>

                  <div id="stime"><%= amenu.time1 %>:<%= amenu.time2 %>~<%= amenu.time3 %>:<%= amenu.time4 %></div>

              <% end %>

        </div>
    <% end %>


