
<%= content_for(:head)  do %>
    <%= stylesheet_link_tag "shophome/ashop/each", :media => "all" %>
    <%= javascript_include_tag "city" %>
    <title><%= page_title %></title>

<% end %>

<% @page_title = $bequipc.name %> 
<% @title1 = $bshop.shopname %> 
<% @title2 = $bequipc.name %>


<%= content_for(:main)  do %>

  <%= link_to new_mybshop_mybequipc_mybequip_path do%><div id="new">＋料理を追加する</div><% end %>

  <% $bequips.each do |bequip| %>

        <div id="bequipa">
          
                <div id="top_pic"> 

                    <% if bequip.equip_img.present? %>
                      <%= link_to image_tag(bequip.equip_img_url, {:size =>'300x300'}), mybshop_mybequipc_mybequip_path(id:bequip) %> 
                    <% else %>
                      <%= link_to image_tag("template/logo3", {:size =>'300x300'}), mybshop_mybequipc_mybequip_path(id:bequip) %> 
                    <% end %>
    
                </div>

                <P id="food_name1">
                    <% if bequip.name.present? %>
                        名前：<%= bequip.name %>
                    <% else %>
                        名前：（未入力）
                    <% end %>
                </P>

                <P id="bequip_name2">
                    <% if bequip.explain.present? %>
                        役職：<%= bequip.explain %>
                    <% else %>
                        役職：（未入力）
                    <% end %>
                </P>
ß
                <p id="edit">
                    <%= link_to '✐編集', edit_mybshop_mybequipc_mybequip_path(id:bequip) %>
                </p>    

         </div>


  <% end %>


<% end %>

