

  <% @page_title = "教育" %> 
  <% @title = @page_title %>
  <% @back = myshop_users_path %>


<%= content_for(:uheader)  do %>
<%= render 'shared/uheader2' %>
<div id="guide">マイページ＞ショップカテゴリー><%= @page_title %></div>
<div id="uname2"><P><%= current_user.username %>様</p></div>
<% end %>


<%= content_for(:main)  do %>
    <%= stylesheet_link_tag "shop/shop", :media => "all" %>
    <%= stylesheet_link_tag "search/asearch", :media => "all" %>

   <%= link_to home_new_myfshop_myfshops_path do%>
        <div id="new"><p>+店舗を追加する</p></div>
    <% end %>

<div id="main-feature">
  <% $fshops.each do |fshop| %>


      <%= link_to myfshop_myfshop_path(id:fshop)  do%> 
         <div id="shopx">

                <div id="toppic">

                  <% if fshop.topimage.present? %>
                    <%= image_tag fshop.topimage_url %> 
                  <% else %>
                    <%= image_tag "template/logo3" %> 
                  <% end %>

                </div>

                <div id="explains">
                     
                        <P id="shop_name"><%= fshop.shopname %></P>

                        <P id="account_name"><%= fshop.user.username %></P><br>
                        
                        <li id="ptag">
                          <p><%= fshop.top.name %></p>
                          <p>><%= fshop.area.name %></p>
                          <p>><%= fshop.prefec.name %></p>
                        </li><br>

                        <li id="tag"><p>#<%= fshop.fcategory.name %></p></li>
                </div>

          </div>

                <%= link_to home_edit_myfshop_myfshop_path(id:fshop) do%><br>
                  <div id="edittop"><p>✐編集する</p></div>
                <% end %>
                
        <% end %>

  <% end %>
  
</div>

<% end %>

