

	<p id="notice"><%= notice %></p>

	<%= content_for(:head)  do %>
	    <title><%= page_title %></title>
	<% end %>

	<%= content_for(:main)  do %>
		<div id="main-feature">
			  <%= javascript_include_tag "shop" %>
			  <%= javascript_include_tag "slick.min" %>
  
					<div id="feature-wrapper">
						  <%= stylesheet_link_tag "slick/slick.css", :media => "screen" %>
						  <%= stylesheet_link_tag "slick/slick-theme.css", :media => "screen" %>

						  <ul class="slider">
								<% if $bshop.shopimage1.present? %>
									  <li><%= @image1 %><p><% $bshop.shopname %></p></li>
								<% else %>
									  <li><%= image_tag "template/homepics" %><p><% $bshop.shopname %></p></li>
								<% end %>
								<% if $bshop.shopimage2.present? %>
									  <li><%= @image2 %><p>image2</p></li>
								<% else %>
									  <li><%= image_tag "template/homepics" %><p>image2</p></li>
								<% end %>
								<% if $bshop.shopimage3.present? %>
								<li><%= @image3 %><p>image3</p></li>
								<% else %>
								<li><%= image_tag "template/homepics" %><p>image3</p></li>
								<% end %>
						  </ul>
					</div>
		</div>
<% end %>


	<% @page_title = $bshop.shopname %> 
	<% @title = @page_title %>

	<% @back = prefec_bshop_bshops_path(prefec_id:$prefec) %>
	<% @city = @back %>

	<% @image1  =  image_tag $bshop.shopimage1_url %> 
	<% @image2  =  image_tag $bshop.shopimage2_url %> 
	<% @image3  =  image_tag $bshop.shopimage3_url %>
   
    <% @navi4 = contact_prefec_bshop_bshop_path %>
	<% @navi5 = access_prefec_bshop_bshop_path %>
	<% @navi6 = info_prefec_bshop_bshop_path %>
	<% @navi7 =  contact_prefec_bshop_bshop_path %>
	<% @navi8 =  time_prefec_bshop_bshop_path %>

	<% @subnavi1 =  %>
	<% @subnavi2 =  %>

