

  <% @page_title = "グルメ一覧" %> 
  <% @title = @page_title %>
  <% @back = area_prefec_path(id:$prefec, area_id:$area) %>


<%= content_for(:uheader)  do %><%= render 'shared/uheader2' %><% end %>


<%= content_for(:main)  do %>
    <%= stylesheet_link_tag "shop/shop", :media => "all" %>
    <%= stylesheet_link_tag "search/asearch", :media => "all" %>

  
   <div id="search-form">

      <%= search_form_for $search, url: asearch_asshops_path do |form| %>

              <div id="stitle">グルメ検索</div>
                          
                <div id="slinex">
                    <div class="sline1">
                      <label for="labelx">カテゴリー</label><br>
                      <%= form.collection_select :acategory_id_eq, Acategory.order(:name), :id, :name, include_blank: true %>
                    </div>
                </div>

                <div id="sliney">
                    <div class="sline2">
                      <label for="labelx">店名</label><br>
                      <%= form.search_field :shopname_cont %>
                    </div>

                    <div class="sline2">
                      <%= form.submit %>
                    </div>
                </div>

            <% end %>

         
    </div>

    <div id="main-feature">

    <% $ashops.each do |ashop| %>
       
        <%= link_to asearch_asshop_path(id:ashop) do%> 
            <div id="shopx">

                  <div id="toppic">

                    <% if ashop.topimage.present? %>
                      <%= image_tag ashop.topimage_url %>
                    <% else %>
                      <%= image_tag "template/logo3" %>
                    <% end %>

                  </div>

                  <div id="explains">
                       
                          <h1 id="shop_name"><%= ashop.shopname %></h1>

                          <P id="account_name"><%= ashop.user.username %></P><br>
                          
                          <li id="ptag">
                            <p><%= ashop.top.name %></p>
                            <p>><%= ashop.area.name %></p>
                            <p>><%= ashop.prefec.name %></p>
                          </li><br>

                          <li id="tag"><p>#<%= ashop.acategory.name %></p></li>
                          <li id="tag"><p>#<%= ashop.category2 %></p></li>
                          <li id="tag"><p>#<%= ashop.category3 %></p></li>

                  </div>

            </div>
        <% end %>

    <% end %>

  </div>
</div>

<% end %>

