

<%= form_for($prefec, :url => {:action => "create"}, :html => {:multipart => true}) do |form| %>

  <% if prefec.errors.any? %>
      <div id="error_explanation">
        
          <h2><%= pluralize(prefec.errors.count, "error") %> prohibited this prefec from being saved:</h2>

          <ul>
              <% prefec.errors.full_messages.each do |message| %><li><%= message %></li><% end %>
          </ul>

      </div>
  <% end %>

        <div class="field">
          <p id="st3">
            <%= form.label :area_id %><br>
            <%= form.text_field :area_id %>
          </p>
        </div>

        <div class="field">
          <p id="st3">
            <%= form.label :name %><br>
            <%= form.text_field :name %>
          </p>
        </div>

        <div class="field">
          <p id="st3">
            <%= form.label :citytop_img %><br>
            <%= form.text_field :citytop_img %>
          </p>
        </div>

        <div class="field">
          <p id="st3">
            <%= form.label :citytop_name %><br>
            <%= form.text_field :citytop_name %>
          </p>
        </div>

        <div class="actions">
          <div id="new">
            <%= form.submit %>
          </div>
        </div>

<% end %>
