
<%= stylesheet_link_tag "selecter", :media => "all" %>

<%= content_for(:main)  do %>
	
<%= form_for($prefec, :url => {:action => "update"}, :html => {:multipart => true}) do |form| %>

	<div id="main-feature">

		<h1>市町村を編集</h1>

		<%= render 'form', prefec: $prefec %>

		<div id="prev">
			<%= link_to 'Show', $prefec %><br />
			<%= link_to '戻る', area_prefecs_path %>/
			<%= link_to '新オープン広告', newad_area_prefec_path(prefec_id:$prefec) %>/
			<%= link_to 'おすすめ広告', topad_area_prefec_path(prefec_id:$prefec) %>
		</div>

	</div>

<% end %>

<% end %>