

<% @page_title = $prefec.name %>
<% @title = $prefec.name %>

<%= content_for(:main)  do %>

    <%= stylesheet_link_tag "top", :media => "all" %>
    <%= stylesheet_link_tag "slick/slick.css", :media => "screen" %>
    <%= stylesheet_link_tag "slick/slick-theme.css", :media => "screen" %>
    <%= javascript_include_tag "city" %>
    <%= javascript_include_tag "slick.min" %>

      <div id="main-feature">
          <ul class="slider">
            <% if $prefec.citytop_img.present? %>
		              <li><%= image_tag $prefec.citytop_img_url, :alt =>'FFIND　F9　f9 f9-shop.jp　日本　トップ'  %><p><%= @title %></p></li>
            <% else %>
                  <li><%= image_tag "top/3", :alt =>'FIND　F9　f9 f9-shop.jp　日本　トップ' %><p><%= @title %></p></li>
            <% end %>

            <% if $prefec.adshop_img1.present? %>
		              <li><%= image_tag $prefec.adshop_img1_url, :alt =>'FFIND　F9　f9 f9-shop.jp　日本　トップ'  %><p><%= $prefec.adshop_name1 %></p></li>
            <% else %>
                  <li><%= image_tag "top/3", :alt =>'FIND　F9　f9 f9-shop.jp　日本　トップ' %><p><%= $prefec.adshop_name1 %></p></li>
            <% end %>

            <% if $prefec.adshop_img2.present? %>
		              <li><%= image_tag $prefec.adshop_img2_url, :alt =>'FFIND　F9　f9 f9-shop.jp　日本　トップ'  %><p><%= $prefec.adshop_name2 %></p></li>
            <% else %>
                  <li><%= image_tag "top/3", :alt =>'FIND　F9　f9 f9-shop.jp　日本　トップ' %><p><%= $prefec.adshop_name2 %></p></li>
            <% end %>

            <% if $prefec.adshop_img3.present? %>
		              <li><%= image_tag $prefec.adshop_img3_url, :alt =>'FFIND　F9　f9 f9-shop.jp　日本　トップ'  %><p><%= $prefec.adshop_name3 %></p></li>
            <% else %>
                  <li><%= image_tag "top/3", :alt =>'FIND　F9　f9 f9-shop.jp　日本　トップ' %><p><%= $prefec.adshop_name3 %></p></li>
            <% end %>

            <% if $prefec.adshop_img4.present? %>
		              <li><%= image_tag $prefec.adshop_img4_url, :alt =>'FFIND　F9　f9 f9-shop.jp　日本　トップ'  %><p><%= $prefec.adshop_name4 %></p></li>
            <% else %>
                  <li><%= image_tag "top/3", :alt =>'FIND　F9　f9 f9-shop.jp　日本　トップ' %><p><%= $prefec.adshop_name4 %></p></li>
            <% end %>

            <% if $prefec.adshop_img5.present? %>
		              <li><%= image_tag $prefec.adshop_img5_url, :alt =>'FFIND　F9　f9 f9-shop.jp　日本　トップ'  %><p><%= $prefec.adshop_name5 %></p></li>
            <% else %>
                  <li><%= image_tag "top/3", :alt =>'FIND　F9　f9 f9-shop.jp　日本　トップ' %><p><%= $prefec.adshop_name5 %></p></li>
            <% end %>

            <% if $prefec.adshop_img6.present? %>
		              <li><%= image_tag $prefec.adshop_img6_url, :alt =>'FFIND　F9　f9 f9-shop.jp　日本　トップ'  %><p><%= $prefec.adshop_name6 %></p></li>
            <% else %>
                  <li><%= image_tag "top/3", :alt =>'FIND　F9　f9 f9-shop.jp　日本　トップ' %><p><%= $prefec.adshop_name6 %></p></li>
            <% end %>

            <% if $prefec.adshop_img7.present? %>
		              <li><%= image_tag $prefec.adshop_img7_url, :alt =>'FFIND　F9　f9 f9-shop.jp　日本　トップ'  %><p><%= $prefec.adshop_name7 %></p></li>
            <% else %>
                  <li><%= image_tag "top/3", :alt =>'FIND　F9　f9 f9-shop.jp　日本　トップ' %><p><%= $prefec.adshop_name7 %></p></li>
            <% end %>

            <% if $prefec.adshop_img8.present? %>
		              <li><%= image_tag $prefec.adshop_img8_url, :alt =>'FFIND　F9　f9 f9-shop.jp　日本　トップ'  %><p><%= $prefec.adshop_name8 %></p></li>
            <% else %>
                  <li><%= image_tag "top/3", :alt =>'FIND　F9　f9 f9-shop.jp　日本　トップ' %><p><%= $prefec.adshop_name8 %></p></li>
            <% end %>

            <% if $prefec.adshop_img9.present? %>
		              <li><%= image_tag $prefec.adshop_img9_url, :alt =>'FFIND　F9　f9 f9-shop.jp　日本　トップ'  %><p><%= $prefec.adshop_name9 %></p></li>
            <% else %>
                  <li><%= image_tag "top/3", :alt =>'FIND　F9　f9 f9-shop.jp　日本　トップ' %><p><%= $prefec.adshop_name9 %></p></li>
            <% end %>

            <% if $prefec.adshop_img10.present? %>
		              <li><%= image_tag $prefec.adshop_img10_url, :alt =>'FFIND　F9　f9 f9-shop.jp　日本　トップ'  %><p><%= $prefec.adshop_name10 %></p></li>
            <% else %>
                  <li><%= image_tag "top/3", :alt =>'FIND　F9　f9 f9-shop.jp　日本　トップ' %><p><%= $prefec.adshop_name10 %></p></li>
            <% end %>

          </ul>
      </div>

<% end %>

<%= content_for(:mnavi)  do %>
  <%= stylesheet_link_tag "temp/city/main-navi", :media => "all" %>
  <%= render 'shared/city/main-navi' %>
<% end %>


<% @newadurl1 = $prefec.newshop_url1 %>
<% @newadurl2 = $prefec.newshop_url2 %>
<% @newadurl3 = $prefec.newshop_url3 %>
<% @newadurl4 = $prefec.newshop_url4 %>
<% @newadurl5 = $prefec.newshop_url5 %>
<% @newadurl6 = $prefec.newshop_url6 %>
<% @newadurl7 = $prefec.newshop_url7 %>
<% @newadurl8 = $prefec.newshop_url8 %>
<% @newadurl9 = $prefec.newshop_url9 %>
<% @newadurl10 = $prefec.newshop_url10 %>

<% @recomadurl1 = $prefec.adshop_url1 %>
<% @recomadurl2 = $prefec.adshop_url2 %>
<% @recomadurl3 = $prefec.adshop_url3 %>
<% @recomadurl4 = $prefec.adshop_url4 %>
<% @recomadurl5 = $prefec.adshop_url5 %>
<% @recomadurl6 = $prefec.adshop_url6 %>
<% @recomadurl7 = $prefec.adshop_url7 %>
<% @recomadurl8 = $prefec.adshop_url8 %>
<% @recomadurl9 = $prefec.adshop_url9 %>
<% @recomadurl10 = $prefec.adshop_url10 %>


<% if $prefec.newshop_img1.present? %>
    <% @newadimg1 = $prefec.newshop_img1_url %>
<% else %>
    <% @newadimg1 = "top/3" %>
<% end %>

<% if $prefec.newshop_name1.present? %>
    <% @newadname1 = $prefec.newshop_name1 %>
<% else %>
    <% @newadname1 = "募集中" %>
<% end %>


<% if $prefec.newshop_img2.present? %>
    <% @newadimg2 = $prefec.newshop_img2_url %>
<% else %>
    <% @newadimg2 = "top/3" %>
<% end %>

<% if $prefec.newshop_name2.present? %>
    <% @newadname2 = $prefec.newshop_name2 %>
<% else %>
    <% @newadname2 = "募集中" %>
<% end %>


<% if $prefec.newshop_img3.present? %>
    <% @newadimg3 = $prefec.newshop_img3_url %>
<% else %>
    <% @newadimg3 = "top/3" %>
<% end %>

<% if $prefec.newshop_name3.present? %>
    <% @newadname3 = $prefec.newshop_name3 %>
<% else %>
    <% @newadname3 = "募集中" %>
<% end %>


<% if $prefec.newshop_img4.present? %>
    <% @newadimg4 = $prefec.newshop_img4_url %>
<% else %>
    <% @newadimg4 = "top/3" %>
<% end %>

<% if $prefec.newshop_name4.present? %>
    <% @newadname4 = $prefec.newshop_name4 %>
<% else %>
    <% @newadname4 = "募集中" %>
<% end %>


<% if $prefec.newshop_img5.present? %>
    <% @newadimg5 = $prefec.newshop_img5_url %>
<% else %>
    <% @newadimg5 = "top/3" %>
<% end %>

<% if $prefec.newshop_name5.present? %>
    <% @newadname5 = $prefec.newshop_name5 %>
<% else %>
    <% @newadname5 = "募集中" %>
<% end %>


<% if $prefec.newshop_img6.present? %>
    <% @newadimg6 = $prefec.newshop_img6_url %>
<% else %>
    <% @newadimg6 = "top/3" %>
<% end %>

<% if $prefec.newshop_name6.present? %>
    <% @newadname6 = $prefec.newshop_name6 %>
<% else %>
    <% @newadname6 = "募集中" %>
<% end %>


<% if $prefec.newshop_img7.present? %>
    <% @newadimg7 = $prefec.newshop_img7_url %>
<% else %>
    <% @newadimg7 = "top/3" %>
<% end %>

<% if $prefec.newshop_name7.present? %>
    <% @newadname7 = $prefec.newshop_name7 %>
<% else %>
    <% @newadname7 = "募集中" %>
<% end %>


<% if $prefec.newshop_img8.present? %>
    <% @newadimg8 = $prefec.newshop_img8_url %>
<% else %>
    <% @newadimg8 = "top/3" %>
<% end %>

<% if $prefec.newshop_name8.present? %>
    <% @newadname8 = $prefec.newshop_name8 %>
<% else %>
    <% @newadname8 = "募集中" %>
<% end %>


<% if $prefec.newshop_img9.present? %>
    <% @newadimg9 = $prefec.newshop_img9_url %>
<% else %>
    <% @newadimg9 = "top/3" %>
<% end %>

<% if $prefec.newshop_name9.present? %>
    <% @newadname9 = $prefec.newshop_name9 %>
<% else %>
    <% @newadname9 = "募集中" %>
<% end %>


<% if $prefec.newshop_img10.present? %>
    <% @newadimg10 = $prefec.newshop_img10_url %>
<% else %>
    <% @newadimg10 = "top/3" %>
<% end %>

<% if $prefec.newshop_name10.present? %>
    <% @newadname10 = $prefec.newshop_name10 %>
<% else %>
    <% @newadname10 = "募集中" %>
<% end %>


<% if $prefec.adshop_img1.present? %>
    <% @recomadimg1 = $prefec.adshop_img1_url %>
<% else %>
    <% @recomadimg1 = "top/3" %>
<% end %>

<% if $prefec.adshop_name1.present? %>
    <% @recomadname1 = $prefec.adshop_name1 %>
<% else %>
    <% @recomadname1 = "募集中" %>
<% end %>


<% if $prefec.adshop_img2.present? %>
    <% @recomadimg2 = $prefec.adshop_img2_url %>
<% else %>
    <% @recomadimg2 = "top/3" %>
<% end %>

<% if $prefec.adshop_name2.present? %>
    <% @recomadname2 = $prefec.adshop_name2 %>
<% else %>
    <% @recomadname2 = "募集中" %>
<% end %>


<% if $prefec.adshop_img3.present? %>
    <% @recomadimg3 = $prefec.adshop_img3_url %>
<% else %>
    <% @recomadimg3 = "top/3" %>
<% end %>

<% if $prefec.adshop_name3.present? %>
    <% @recomadname3 = $prefec.adshop_name3 %>
<% else %>
    <% @recomadname3 = "募集中" %>
<% end %>


<% if $prefec.adshop_img4.present? %>
    <% @recomadimg4 = $prefec.adshop_img4_url %>
<% else %>
    <% @recomadimg4 = "top/3" %>
<% end %>

<% if $prefec.adshop_name4.present? %>
    <% @recomadname4 = $prefec.adshop_name4 %>
<% else %>
    <% @recomadname4 = "募集中" %>
<% end %>


<% if $prefec.adshop_img5.present? %>
    <% @recomadimg5 = $prefec.adshop_img5_url %>
<% else %>
    <% @recomadimg5 = "top/3" %>
<% end %>

<% if $prefec.adshop_name5.present? %>
    <% @recomadname5 = $prefec.adshop_name5 %>
<% else %>
    <% @recomadname5 = "募集中" %>
<% end %>


<% if $prefec.adshop_img6.present? %>
    <% @recomadimg6 = $prefec.adshop_img6_url %>
<% else %>
    <% @recomadimg6 = "top/3" %>
<% end %>

<% if $prefec.adshop_name6.present? %>
    <% @recomadname6 = $prefec.adshop_name6 %>
<% else %>
    <% @recomadname6 = "募集中" %>
<% end %>


<% if $prefec.adshop_img7.present? %>
    <% @recomadimg7 = $prefec.adshop_img7_url %>
<% else %>
    <% @recomadimg7 = "top/3" %>
<% end %>

<% if $prefec.adshop_name7.present? %>
    <% @recomadname7 = $prefec.adshop_name7 %>
<% else %>
    <% @recomadname7 = "募集中" %>
<% end %>


<% if $prefec.adshop_img8.present? %>
    <% @recomadimg8 = $prefec.adshop_img8_url %>
<% else %>
    <% @recomadimg8 = "top/3" %>
<% end %>

<% if $prefec.adshop_name8.present? %>
    <% @recomadname8 = $prefec.adshop_name8 %>
<% else %>
    <% @recomadname8 = "募集中" %>
<% end %>


<% if $prefec.adshop_img9.present? %>
    <% @recomadimg9 = $prefec.adshop_img9_url %>
<% else %>
    <% @recomadimg9 = "top/3" %>
<% end %>

<% if $prefec.adshop_name9.present? %>
    <% @recomadname9 = $prefec.adshop_name9 %>
<% else %>
    <% @recomadname9 = "募集中" %>
<% end %>


<% if $prefec.adshop_img10.present? %>
    <% @recomadimg10 = $prefec.adshop_img10_url %>
<% else %>
    <% @recomadimg10 = "top/3" %>
<% end %>

<% if $prefec.adshop_name10.present? %>
    <% @recomadname10 = $prefec.adshop_name10 %>
<% else %>
    <% @recomadname10 = "募集中" %>
<% end %>