
<% @page_title = $gstaff.name %> 
<% @title2 = $gstaff.name %> 

<%= content_for(:main) do %>

	<% $gstaffs.each do |gstaff| %>

		<% if $gstaff.staff_img.present? %>
			<div class="mainImage"><%= image_tag $gstaff.staff_img_url %></div>
		<% else %>
			<div class="mainImage"><%= image_tag "template/logo3" %></div>
		<% end %>

	<% end %>
<% end %>

<%= content_for(:second_feature) do %>

			<% if $gstaff.explain.present? %>
					<p><%= $gstaff.explain %></p>
			<% else %>
					<p>未入力</p>
			<% end %>

<% end %>