
<%= content_for(:head)  do %>
    <%= stylesheet_link_tag "shophome/bshop/each_staff", :media => "all" %>
    <%= javascript_include_tag "city" %>
    <title><%= page_title %></title>

<% end %>

<%= content_for(:main)  do %>

  <% $bstaffs.each do |bstaff| %>

    <div id="each_staff">

        <div id="staff">
          
                <div id="top_pic"> 

                    <% if bstaff.staff_img.present? %>
                      <%= link_to image_tag(bstaff.staff_img_url), bsearch_bsstaffc_bsstaff_path(id:bstaff) %> 
                    <% else %>
                      <%= link_to image_tag("template/logo3"), bsearch_bsstaffc_bsstaff_path(id:bstaff) %> 
                    <% end %>
    
                </div>

                <P id="staff_name">
                    <% if bstaff.name.present? %>
                        <%= bstaff.name %>
                    <% else %>
                        （未入力）
                    <% end %>
                </P>

         </div>
    </div>


  <% end %>


<% end %>

