
<%= content_for(:head)  do %>
    <%= stylesheet_link_tag "shophome/bshop/each_staff", :media => "all" %>
    <%= javascript_include_tag "city" %>
    <title><%= page_title %></title>

<% end %>

<%= content_for(:main)  do %>

  <% $hstaffs.each do |hstaff| %>

    <div id="each_staff">

        <div id="staff">
          
                <div id="top_pic"> 

                    <% if hstaff.staff_img.present? %>
                      <%= link_to image_tag(hstaff.staff_img_url), hsearch_hsstaffc_hsstaff_path(id:hstaff) %> 
                    <% else %>
                      <%= link_to image_tag("template/logo3"), hsearch_hsstaffc_hsstaff_path(id:hstaff) %> 
                    <% end %>
    
                </div>

                <P id="staff_name">
                    <% if hstaff.name.present? %>
                        <%= hstaff.name %>
                    <% else %>
                        （未入力）
                    <% end %>
                </P>

         </div>
    </div>


  <% end %>


<% end %>

