
<%= form_for($atakeout, :url => {:action => "create"}, :html => {:multipart => true}) do |form| %>

  <% if atakeout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(atakeout.errors.count, "error") %> prohibited this atakeout from being saved:</h2>

      <ul>
      <% atakeout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="section" id="page">

    <h1>料理を編集する</h1>

              <%= form.hidden_field :atmenu_id %>

              <div id="field">
                  <%= form.label :foodname1 do %><label for="labelx">料理名</label><% end %><br>
                  <%= form.text_field :foodname1 %><br>
                  <p id="ex">（例）からあげ定食</p>
              </div>

              <div id="field">
                  <%= form.label :foodname2 do %><label for="labelx">料理名（追加）</label><% end %><br>
                  <%= form.text_field :foodname2 %><br>
                  <p id="ex">（例）スープ付き</p>
              </div>

              <div id="field">
                  <%= form.label :price do %><label for="labelx">値段</label><% end %><br>
                  <%= form.text_field :price %>
                  <p id="ex">（例）税込　750円</p>
              </div>

              <div id="picup">

                  <div id="field-pic1">
                      <%= form.label :topimg do %><label for="labelx">料理のトップ画像</label><% end %><br>
                      <%= form.file_field :topimg, id: :atakeout_topimg %>
                      <div id="thumb"><%= image_tag($atakeout.topimg.thumb.url, {:size =>'300x300'}) if $atakeout.topimg? %></div>
                  </div>

                  <div id="field-pic2">
                      <%= form.label :foodimg1 do %><label for="labelx">料理の写真1</label><% end %><br>
                      <%= form.file_field :foodimg1, id: :atakeout_foodimg1 %>
                      <div id="thumb"><%= image_tag($atakeout.foodimg1.thumb.url, {:size =>'300x300'}) if $atakeout.foodimg1? %></div>
                  </div>

                  <div id="field-pic3">
                      <%= form.label :foodimg2 do %><label for="labelx">料理の写真2</label><% end %><br>
                      <%= form.file_field :foodimg2, id: :atakeout_foodimg2 %>
                      <div id="thumb"><%= image_tag($atakeout.foodimg2.thumb.url, {:size =>'300x300'}) if $atakeout.foodimg2? %></div>
                  </div>

                  <div id="field-pic4">
                      <%= form.label :foodimg3 do %><label for="labelx">料理の写真3</label><% end %><br>
                      <%= form.file_field :foodimg3, id: :atakeout_foodimg3 %>
                      <div id="thumb"><%= image_tag($atakeout.foodimg3.thumb.url, {:size =>'300x300'}) if $atakeout.foodimg3? %></div>
                  </div>

              </div>

              <%= form.hidden_field :topimg_cache %>
              <%= form.hidden_field :foodimg1_cache %>
              <%= form.hidden_field :foodimg2_cache %>
              <%= form.hidden_field :foodimg3_cache %>

              <div div="actions">
                  <li><%= form.submit(:決定) %></li>
              </div>

</div>

  <%= link_to myashop_myatmenu_myatakeouts_path do %>
    <div id="eback">編集を中止する</div>
  <% end %>

<% end %>
