

	<%= content_for(:head)  do %>
	    <%= stylesheet_link_tag "shophome/ashop/content/access", :media => "all" %>
	    <%= javascript_include_tag "city" %>

	    <title><%= page_title %></title>
	<% end %>

    
	<% @page_title = "アクセス" %>

	<%= render 'form', gshop: $gshop %>


<%= content_for(:main)  do %>

	<%= link_to access_edit_mygshop_mygshop_path(id:$gshop), target:"_blank" do%><div id="edit">✐編集する</div><% end %>
      
    <div id="feature-wrapper">

	      <div id="box1">	
		    　 <li id="a1">住所</li><br>
		      <li id="b1">〒:<%= $gshop.postnumb %></li><br>
		      <li id="b1"><%= $gshop.address %></li><br>
	      </div>

	      <div id="box2">	
		    　 <li id="a1">最寄り駅</li><br>
		      <li id="b2">バス：<%= $gshop.bus %></li><br>
		      <li id="b2">電車：<%= $gshop.train %></li><br>
	      </div>

	      <div id="box2">
              <li id="a1">google map</li></a><br>
	      </div>

    </div>

<% end %>


