
<%= form_for($cmenuc, :url => {:action => "create"}, :html => {:multipart => true}) do |form| %>

  <% if cmenuc.errors.any? %>
      <div id="error_explanation">
          <h2><%= pluralize(cmenuc.errors.count, "error") %> prohibited this cmenuc from being saved:</h2>

          <ul>
              <% cmenuc.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
          </ul>
      </div>
  <% end %>

  <div class="section" id="page">

    <h1>メニュー内容を編集する</h1>
      
      <%= form.hidden_field :cshop_id %>

      <%= form.label :price do %><label for="labelx">料金（税込）：</label><% end %><br>
      <div id="field"><%= form.text_field :price, placeholder: "例）1,000" %></div>

      <%= form.label :detail1 do %><label for="labelx">補足：</label><% end %><br>
      <div id="field"><%= form.text_field :detail1, placeholder: '例）補足１' %></div>

      <div id="field"><%= form.text_field :detail2, placeholder: '例）補足２' %></div>

      <div id="field"><%= form.text_field :detail3, placeholder: '例）補足３' %></div>

      <div id="field"><%= form.text_field :detail4, placeholder: '例）補足４' %></div>

      <div id="field"><%= form.text_field :detail5, placeholder: '例）補足５' %></div>

      <div id="field"><%= form.text_field :detail6, placeholder: '例）補足６' %></div>

      <div id="field"><%= form.text_field :detail7, placeholder: '例）補足７' %></div>

      <div id="field"><%= form.text_field :detail8, placeholder: '例）補足８' %></div>

      <div id="field"><%= form.text_field :detail10, placeholder: '例）補足９' %></div>

      <div id="actions"><li><%= form.submit(:決定) %></li></div>

      <%= link_to mycshop_mycshop_path(id:$cshop) do %>
            <div id="eback">編集を中止する</div>
      <% end %>

  </div>

<% end %>
