
<% @page_title = $cequip.name %> 
<% @title2 = $cequip.name %> 

<%= content_for(:edit) do %>

<% end %>


<%= content_for(:main) do %>
	<div id="edit">
    	<%= link_to '✐編集', equip_img_mycshop_mycequipc_mycequip_path(id:$cequip), target:"_blank" %>
    </div>    

	<% $cequips.each do |cequip| %>

		<% if $cequip.equip_img.present? %>
			<div class="mainImage"><%= image_tag $cequip.equip_img_url %></div>
		<% else %>
			<div class="mainImage"><%= image_tag "template/logo3" %></div>
		<% end %>

	<% end %>
<% end %>

<%= content_for(:second_feature) do %>

			<% if $cequip.explain.present? %>
					<p><%= $cequip.explain %></p>
			<% else %>
					<p>未入力</p>
			<% end %>

<% end %>