
<%= content_for(:head)  do %>
  <%= stylesheet_link_tag "shophome/bshop/each_equip", :media => "all" %>
  <%= javascript_include_tag "city" %>
  <title><%= page_title %></title>

<% end %>

<%= content_for(:main)  do %>

<% $cequips.each do |cequip| %>

  <div id="each_equip">

      <div id="equip">
        
              <div id="top_pic"> 

                  <% if cequip.equip_img.present? %>
                    <%= link_to image_tag(cequip.equip_img_url), csearch_csequipc_csequip_path(id:cequip) %> 
                  <% else %>
                    <%= link_to image_tag("template/logo3"), csearch_csequipc_csequip_path(id:cequip) %> 
                  <% end %>
  
              </div>

              <p id="equip_name">
                  <% if cequip.name.present? %>
                      <%= cequip.name %>
                  <% else %>
                      （未入力）
                  <% end %>
              </p>

       </div>
  </div>


<% end %>


<% end %>

