
<%= content_for(:head)  do %>
    <%= stylesheet_link_tag "shophome/bshop/each_equip", :media => "all" %>
    <%= javascript_include_tag "city" %>
    <title><%= page_title %></title>

<% end %>

<%= content_for(:main)  do %>

  <%= link_to new_myeshop_myestaffc_myestaff_path do%><div id="new">＋設備を追加する</div><% end %>

  <% $estaffs.each do |estaff| %>

    <div id="each_equip">

        <div id="equip">
          
                <div id="top_pic"> 

                    <% if estaff.staff_img.present? %>
                      <%= link_to image_tag(estaff.staff_img_url), myeshop_myestaffc_myestaff_path(id:estaff) %> 
                    <% else %>
                      <%= link_to image_tag("template/logo3"), myeshop_myestaffc_myestaff_path(id:estaff) %> 
                    <% end %>
    
                </div>

                <P id="equip_name">
                    <% if estaff.name.present? %>
                        <%= estaff.name %>
                    <% else %>
                        （未入力）
                    <% end %>
                </P>

                <p id="edit">
                    <%= link_to '✐編集', edit_myeshop_myestaffc_myestaff_path(id:estaff) %>
                </p>    

         </div>
    </div>


  <% end %>


<% end %>

