
<%= stylesheet_link_tag "selecter", :media => "all" %>

<%= form_for($category, :url => {:action => "update"}, :html => {:multipart => true}) do |form| %>

	<div id="main-feature">

		<h1>カテゴリーの編集</h1>

		<%= render 'form', category: $category %>

		<div id="prev"><%= link_to 'Show', $category %><br />
		<%= link_to '戻る', categories_path %></div>

	</div>

<% end %>