
<%= stylesheet_link_tag "selecter", :media => "all" %>

<%= form_for($hcategory, :url => {:action => "update"}, :html => {:multipart => true}) do |form| %>

	<div id="main-feature">

		<h1>カテゴリーの編集</h1>

		<%= render 'form', hcategory: $hcategory %>

		<div id="prev"><%= link_to 'Show', hcategories_path($hcategory) %><br />
		<%= link_to '戻る', hcategories_path %></div>

	</div>

<% end %>