

	<p id="notice"><%= notice %></p>

	<%= content_for(:head)  do %>
	    <meta name="f9-shop.jp" content="FIND　F9　f9 f9-shop.jp">
	    <title><%= page_title %></title>
	<% end %>

	<%= content_for(:main)  do %>
		<div id="main-feature">
			  <%= javascript_include_tag "shop" %>
			  <%= javascript_include_tag "slick.min" %>
  
					<div id="feature-wrapper">
						  <%= stylesheet_link_tag "slick/slick.css", :media => "screen" %>
						  <%= stylesheet_link_tag "slick/slick-theme.css", :media => "screen" %>

						  <ul class="slider">
								<% if $bshop.shopimage1.present? %>
									  <li><%= @image1 %><p><% $bshop.shopname %></p></li>
								<% else %>
									  <li><%= image_tag "template/homepics" %><p><% $bshop.shopname %></p></li>
								<% end %>
								<% if $bshop.shopimage2.present? %>
									  <li><%= @image2 %><p>image2</p></li>
								<% else %>
									  <li><%= image_tag "template/homepics" %><p>image2</p></li>
								<% end %>
								<% if $bshop.shopimage3.present? %>
								<li><%= @image3 %><p>image3</p></li>
								<% else %>
								<li><%= image_tag "template/homepics" %><p>image3</p></li>
								<% end %>
						  </ul>
					</div>
		</div>
<% end %>

	<%= content_for(:idc1)  do %>
		<% $bmenucs.each do |bmenuc| %>
                    <div class="line">
                          <%= link_to bsearch_bsshop_bsmenuc_path(bsshop_id:$bshop, id:bmenuc) do %>
                              <li id="mc"><%= bmenuc.name %></li><br>
                          <%end%>
                    </div>
        <% end %>
	<% end %>

	<%= content_for(:idc2)  do %>
		<% $bsmenucs.each do |bsmenuc| %>
                    <div class="line">
                          <%= link_to bsearch_bsshop_bssmenuc_path(bsshop_id:$bshop, id:bsmenuc) do %>
                              <li id="mc"><%= bsmenuc.name %></li><br>
                          <%end%>
                    </div>
        <% end %>
	<% end %>

	<%= content_for(:idc3)  do %>
	<% end %>

	<%= content_for(:idc4)  do %>
	<% end %>

	<% @page_title = $bshop.shopname %> 
	<% @title = @page_title %>

	<% @back = bsearch_bsshops_path %>
	<% @city = @back %>

	<% @image1  =  image_tag $bshop.shopimage1_url %> 
	<% @image2  =  image_tag $bshop.shopimage2_url %> 
	<% @image3  =  image_tag $bshop.shopimage3_url %>

	<% @navi4 = contact_bsearch_bsshop_path %>
	<% @navi5 = access_bsearch_bsshop_path %>
	<% @navi6 = info_bsearch_bsshop_path %>
	<% @navi7 =  contact_bsearch_bsshop_path %>
	<% @navi8 =  time_bsearch_bsshop_path %>

	<% @subnavi1 =  %>
	<% @subnavi2 =  %>

