

  <%= content_for(:head)  do %>
      <%= stylesheet_link_tag "shophome/ashop/content/menu", :media => "all" %>
      <%= javascript_include_tag "city" %>

      <title><%= page_title %></title>
  <% end %>


  <% @page_title = $atmenuc.name %> 
  <% @title1 = $ashop.shopname %> 
  <% @title2 = @page_title %> 

  <% @back1 = myashop_myashop_path(id:$ashop) %>
  <% @city  = myashop_myashops_path %>
  <% @back2 = @back1 %>

  <% @phone = $ashop.phone1 %>


  <%= content_for(:main)  do %>

    <div id="new"><%= link_to '＋メニューを追加する', new_myashop_myatmenuc_myatmenu_path %></div>
        <div id="feature-wrapper">

              <% $atmenus.each do |atmenu| %>
                  <%= link_to myashop_myatmenuc_myatmenu_path(myatmenuc_id:$atmenuc, id:atmenu) do %>
                   　<div id="box"><li id="list"><%= atmenu.name %></li></div>
                  <% end %>

                  <div id="stime"><%= atmenu.time1 %>:<%= atmenu.time2 %>~<%= atmenu.time3 %>:<%= atmenu.time4 %></div>

                  <div id="edit">
                    <%= link_to '✐編集する', edit_myashop_myatmenuc_myatmenu_path(myatmenuc_id:$atmenuc, id:atmenu) %>
                  </div>
              <% end %>

        </div>
    <% end %>


