

	<div id="s-uheader">

		<%= link_to do %>
			<div id="mypage"><p>マイページ</p></div>
		<% end %>

	</div>


	<div id='t1'>
	  <p id="ta"><%= title %></p>   
	</div>

<%= link_to @back do %><p id="back"><%= image_tag 'template/back/1.gif', :size => "90x90" %></p><% end %>
<%= link_to @city do %><p id="town"><%= image_tag 'template/city.png', :size => "90x90" %></p><% end %>