
<%= content_for(:head)  do %>
    <%= stylesheet_link_tag "shophome/ashop/drink", :media => "all" %>
    <%= javascript_include_tag "city" %>
    <title><%= page_title %></title>

<% end %>

<% @page_title = $admenu.name %> 
<% @title1 = $ashop.shopname %> 
<% @title2 = $admenu.name %>

<% @back1  = myashop_myashop_path(id:$ashop) %>
<% @city  = myashop_myashops_path %>
<% @back2 = myashop_myadmenuc_myadmenus_path(myadmenuc_id:$admenuc) %>



<%= content_for(:main)  do %>

  <%= link_to new_myashop_myadmenu_mydrink_path do%><div id="new">＋料理を追加する</div><% end %>

  <% $drinks.each do |drink| %>

        <%= link_to myashop_myadmenu_mydrink_path(id:drink) do%>
             <div id="dset">
                <div id="drink">

                        <P id="food_name1"><%= drink.foodname1 %></P>

                        <P id="food_name2">
                            <% if drink.price.present? %>
                                :(税込)<%= drink.price %>
                            <% else %>
                                ー
                            <% end %>
                        </P>

                        <P id="price">
                            <% if drink.price.present? %>
                                :(税込)<%= drink.price %>
                            <% else %>
                                未入力（値段）
                            <% end %>
                        </P>

                 </div><br>
                 <p id="edit"><%= link_to '✐編集', edit_myashop_myadmenu_mydrink_path(id:drink) %></p>  
             </div>  
         <% end %>


  <% end %>


<% end %>

