

<%= form_for($food, :url => {:action => "create"}, :html => {:multipart => true}) do |form| %>

  <% if food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="section" id="page">

    <h1>料理を編集する</h1>

              <%= form.hidden_field :amenu_id %>

              <div id="field">
                  <%= form.label :foodname1 do %><label for="labelx">料理名</label><% end %><br>
                  <%= form.textarea :foodname1 %><br>
              </div>

              <div id="field">
                  <%= form.label :foodname2 do %><label for="labelx">料理名（追加）</label><% end %><br>
                  <%= form.text_field :foodname2 %><br>
                  <p id="ex">（例）スープ付き</p>
              </div>

              <div id="field">
                  <%= form.label :price do %><label for="labelx">値段</label><% end %><br>
                  <%= form.text_field :price %>
                  <p id="ex">（例）税込　750円</p>
              </div>

              <div id="field-pic">
                  <%= form.label :topimg do %><label for="labelx">トップ画像</label><% end %><br>

                  <label for="labely"><%= form.file_field :topimg, id: :food_topimg , id: "file" %></label>

                  <div id="thumb" onClick="$('#file').click()">
                        <% if food.topimg.present? %>
                          <div id="updimg"><%= image_tag food.topimg.thumb.url if $food.topimg? %></div> 
                        <% else %>
                          <div id="upimg"><%= image_tag("template/img") %></div>
                        <% end %>
                  </div>
              </div>


              <%= form.hidden_field :topimg_cache %>
              <%= form.hidden_field :foodimg1_cache %>
              <%= form.hidden_field :foodimg2_cache %>
              <%= form.hidden_field :foodimg3_cache %>

              <div id="actions"><li><%= form.submit(:決定) %></li></div>

  <%= link_to myashop_myamenu_myfoods_path do %><div id="eback">編集を中止する</div><% end %>

</div>

<% end %>

<script>

$(function(){
  $fileField = $('#file')
 
  // 選択された画像を取得し表示
  $($fileField).on('change', $fileField, function(e) {
    file = e.target.files[0]
    reader = new FileReader(),
    $preview = $("#thumb");
 
    reader.onload = (function(file) {
      return function(e) {
        $preview.empty();
        $preview.append($('<img>').attr({
          src: e.target.result,
          width: "100%",
          class: "preview",
          title: file.name
        }));
      };
    })(file);
    reader.readAsDataURL(file);
  });
});

</script>
