
<%= content_for(:head)  do %>
    <%= stylesheet_link_tag "shophome/bshop/each_equip", :media => "all" %>
    <%= javascript_include_tag "city" %>
    <title><%= page_title %></title>

<% end %>

<%= content_for(:main)  do %>

  <%= link_to new_myfshop_myfstaffc_myfstaff_path do%><div id="new">＋設備を追加する</div><% end %>

  <% $fstaffs.each do |fstaff| %>

    <div id="each_equip">

        <div id="equip">
          
                <div id="top_pic"> 

                    <% if fstaff.staff_img.present? %>
                      <%= link_to image_tag(fstaff.staff_img_url), myfshop_myfstaffc_myfstaff_path(id:fstaff) %> 
                    <% else %>
                      <%= link_to image_tag("template/logo3"), myfshop_myfstaffc_myfstaff_path(id:fstaff) %> 
                    <% end %>
    
                </div>

                <P id="equip_name">
                    <% if fstaff.name.present? %>
                        <%= fstaff.name %>
                    <% else %>
                        （未入力）
                    <% end %>
                </P>

                <p id="edit">
                    <%= link_to '✐編集', edit_myfshop_myfstaffc_myfstaff_path(id:fstaff) %>
                </p>    

         </div>
    </div>


  <% end %>


<% end %>

