
<%= favicon_link_tag() %>
<%= favicon_link_tag('apple-touch-icon-180x180.gif', {:rel => 'apple-touch-icon', :sizes => '180x180', :type => 'image/gif'}) %> 

        <%= stylesheet_link_tag "shophome/home", :media => "all" %>
        <%= stylesheet_link_tag "temp/header", :media => "all" %>
        <%= stylesheet_link_tag "temp/sheader", :media => "all" %>
        <%= stylesheet_link_tag "temp/uheader", :media => "all" %>
        <%= stylesheet_link_tag "temp/shop/sfeature", :media => "all" %>
        <%= stylesheet_link_tag "temp/footer", :media => "all" %>

        <%= stylesheet_link_tag "slick/slick.css", :media => "screen" %>
        <%= stylesheet_link_tag "slick/slick-theme.css", :media => "screen" %>

  <head>
    <title><%= page_title %></title>
  </head>

  <body>

      <div id="wrapper">

            <%= render 'shared/header' %>
            <div id="fmessage"><p class="notice"><%= notice %></p><p class="alert"><%= alert %></p></div>
            <%= render 'shared/sheader' %>
            <div id="main"><%= yield(:uheader) %></div>
            <%= render 'shared/shop/uheader' %>

            <%= link_to @edit, target:"_blank" do%><div id="edit">✐編集する</div><% end %>

            <div id="main-feature">
              <%= stylesheet_link_tag "slick/slick.css", :media => "screen" %>
              <%= stylesheet_link_tag "slick/slick-theme.css", :media => "screen" %>
              <%= javascript_include_tag "slick.min" %> 
              <%= javascript_include_tag "slick.min" %>
                <div id="feature-wrapper">
                      <ul class="slider">
                          <li><%= @image1 %></li>
                          <li><%= @image2 %></li>
                          <li><%= @image3 %></li>
                      </ul>
                </div>
            </div>

            <%= render 'shared/shop/main-navi' %>
            <%= render 'shared/shop/secondf' %>
            <%= render 'shared/footer' %>

      </div>


  <script type="text/javascript">

var headerHeight = $('header').outerHeight();
$('#menu').css('margin-top', headerHeight + 'px');

// MENUボタンがクリックされたときの処理
$('#menu_btn').on('click', function(){
  if($(this).hasClass('active')) {
    $(this).removeClass('active');
    $(this).text('MENU');
    $('#menu').removeClass('open');
    $('.menu-background').removeClass('open');
  } else {
    $(this).addClass('active');
    $(this).text('CLOSE');
    $('#menu').addClass('open');
    $('.menu-background').addClass('open');
  }
});

// メニューの背景がクリックされたときの処理
$('.menu-background').on('click', function(){
  if($(this).hasClass('open')) {
    $(this).removeClass('open');
    $('#menu_btn').removeClass('active').text('MENU');
    $('#menu').removeClass('open');
  }
});

</script>

  </body>
