
<%= favicon_link_tag() %>
<%= favicon_link_tag('apple-touch-icon-180x180.gif', {:rel => 'apple-touch-icon', :sizes => '180x180', :type => 'image/gif'}) %> 

    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "temp/header", :media => "all" %>
    <%= stylesheet_link_tag "top", :media => "all" %>
    <%= stylesheet_link_tag "temp/mnavi", :media => "all" %>
    <%= stylesheet_link_tag "temp/footer", :media => "all" %>
    <%= javascript_include_tag "drawer" %>

    
  <head>
      <title><%= page_title %></title>
      <%= display_meta_tags(default_meta_tags) %>
      <%= analytics_init if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159333918-1"></script>
            <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-159333918-1');
            </script>
  </head>

<body>

    <div id="wrapper">
           <%= render 'shared/header' %>
           <div id="fmessage"><p class="notice"><%= notice %></p><p class="alert"><%= alert %></p></div>
           <%= yield(:main) %>
           <div id="top_af1">
                        <script type="text/javascript">var nend_params = {"media":64415,"site":334763,"spot":998912,"type":1,"oriented":1};</script>
                        <script type="text/javascript" src="https://js1.nend.net/js/nendAdLoader.js"></script>
                      </div>
           <%= yield(:mnavi) %>
           <%= render 'shared/sfeature1' %>
           <div id="top_af1">
              <script type="text/javascript">var nend_params = {"media":64415,"site":334763,"spot":998501,"type":1,"oriented":1};</script>
              <script type="text/javascript" src="https://js1.nend.net/js/nendAdLoader.js"></script>
           </div>
           <%= render 'shared/footer' %>
           <%= render 'shared/bottom_navi' %>
    </div>

</body>

</html>
