
<%= favicon_link_tag() %>
<%= favicon_link_tag('apple-touch-icon-180x180.gif', {:rel => 'apple-touch-icon', :sizes => '180x180', :type => 'image/gif'}) %>


        <%= stylesheet_link_tag "shophome/ashop/foods", :media => "all" %>
        <%= stylesheet_link_tag "temp/header", :media => "all" %>
        <%= stylesheet_link_tag "temp/footer", :media => "all" %>

        <%= javascript_include_tag "food" %>
        <%= javascript_include_tag "drawer" %>

    <head>
        <title><%= page_title %></title>
        <script data-ad-client="pub-4561413520529434" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    </head>

    <body>

        <div id="wrapper">
          
                <%= render 'shared/header' %>
                <div id="fmessage"><p class="notice"><%= notice %></p><p class="alert"><%= alert %></p></div>
                <%= render 'shared/shop/uheader2' %>
                <%= yield(:edit) %>
                <%= yield(:main) %>
                <%= render 'shared/footer' %>
                <%= render 'shared/bottom_navi' %>

        </div>

    </body>