

	<%= content_for(:head)  do %>
	    <%= stylesheet_link_tag "shophome/ashop/content/time", :media => "all" %>
	    <%= javascript_include_tag "city" %>

	    <title><%= page_title %></title>
	<% end %>


	<% @page_title = "営業時間" %> 

	<%= render 'form', bshop: $bshop %>


<%= content_for(:main)  do %>

    <div id="feature-wrapper">

	      <div id="box1">	
		      <li id="b1">日曜日（午前）<%= $bshop.sunam1 %>:<%= $bshop.sunam2 %>~<%= $bshop.sunam3 %>:<%= $bshop.sunam4 %></li>
		      <li id="b1">日曜日（午後）<%= $bshop.sunpm1 %>:<%= $bshop.sunpm2 %>~<%= $bshop.sunpm3 %>:<%= $bshop.sunpm4 %></li><br/>
		      <li id="b1">月曜日（午前）<%= $bshop.monam1 %>:<%= $bshop.monam2 %>~<%= $bshop.monam3 %>:<%= $bshop.monam4 %></li>
		      <li id="b1">月曜日（午後）<%= $bshop.monpm1 %>:<%= $bshop.monpm2 %>~<%= $bshop.monpm3 %>:<%= $bshop.monam4 %></li><br/>
		      <li id="b1">火曜日（午前）<%= $bshop.tueam1 %>:<%= $bshop.tueam2 %>~<%= $bshop.tueam3 %>:<%= $bshop.tueam4 %></li>
		      <li id="b1">火曜日（午後）<%= $bshop.tuepm1 %>:<%= $bshop.tuepm2 %>~<%= $bshop.tuepm3 %>:<%= $bshop.tuepm4 %></li><br/>
		      <li id="b1">水曜日（午前）<%= $bshop.wedam1 %>:<%= $bshop.wedam2 %>~<%= $bshop.wedam3 %>:<%= $bshop.wedam4 %></li>
		      <li id="b1">水曜日（午後）<%= $bshop.wedpm1 %>:<%= $bshop.wedpm2 %>~<%= $bshop.wedpm3 %>:<%= $bshop.wedpm4 %></li><br/>
		      <li id="b1">木曜日（午前）<%= $bshop.thuam1 %>:<%= $bshop.thuam2 %>~<%= $bshop.thuam3 %>:<%= $bshop.thuam4 %></li>
		      <li id="b1">木曜日（午後）<%= $bshop.thupm1 %>:<%= $bshop.thupm2 %>~<%= $bshop.thupm3 %>:<%= $bshop.thupm4 %></li><br/>
		      <li id="b1">金曜日（午前）<%= $bshop.friam1 %>:<%= $bshop.friam2 %>~<%= $bshop.friam3 %>:<%= $bshop.friam4 %></li>
		      <li id="b1">金曜日（午後）<%= $bshop.fripm1 %>:<%= $bshop.fripm2 %>~<%= $bshop.fripm3 %>:<%= $bshop.fripm4 %></li><br/>
		      <li id="b1">土曜日（午前）<%= $bshop.satam1 %>:<%= $bshop.satam2 %>~<%= $bshop.satam3 %>:<%= $bshop.satam4 %></li>
		      <li id="b1">土曜日（午後）<%= $bshop.satpm1 %>:<%= $bshop.satpm2 %>~<%= $bshop.satpm3 %>:<%= $bshop.satpm4 %></li>
	      </div>

    </div>

<% end %>